<ion-grid (swipeleft)="swipeEvent($event)" (swiperight)="swipeEvent($event)">
  <infowindow-tabs-header [(tabList)]="tabList" [(current)]="currentTab" prefix="station" [autoHide]="false"
    (close)="closeInfowindow()" (jumpTo)="jumpTo($event)">
  </infowindow-tabs-header>

  <ion-row class="infowindow-tab-content-outer" [style.width.vw]="tabList.length * 100" [style.left.vw]="(0 - realCurrentTab) * 100 " [style.height.px]="bodyHeight.max">
    <ion-col col-12 class="infowindow-tab-content-inner">

      <ion-row #stationGeneral class="infowindow-tab-outer infowindow-tab-station-general-outer" *ngIf="getTab('general').condition()">
        <ion-col col-12 class="infowindow-tab-inner infowinfowindow-tab-loading" *ngIf="getTab('general').loading()">
          <img src="./assets/img/loading/infowindow.gif">
        </ion-col>
        <ion-col col-12 class="infowindow-tab-inner infowindow-tab-station-general-inner" *ngIf="!getTab('general').loading()">
          <ion-row class="infowindow-content-outer">
            <ion-col col-12 class="infowindow-content-inner">

              <ion-row class="infowindow-staton-title-outer">
                <ion-col col-2 class="infowindow-icon-inner">
                  <img src="./assets/img/pins/station/pin-icon.svg" *ngIf="!focus.fast && focus.remoteControl">
                  <img src="./assets/img/pins/station/pin-icon-s.svg" *ngIf="focus.fast === 's' && focus.remoteControl">
                  <img src="./assets/img/pins/station/pin-icon-sf.svg" *ngIf="focus.fast === 'sf' && focus.remoteControl">
                  <img src="./assets/img/pins/station/pin-icon-f.svg" *ngIf="focus.fast === 'f' && focus.remoteControl">
                  <img src="./assets/img/pins/station/pin-icon-not-remote.svg" *ngIf="!focus.fast && !focus.remoteControl">
                  <img src="./assets/img/pins/station/pin-icon-s-not-remote.svg" *ngIf="focus.fast === 's' && !focus.remoteControl">
                  <img src="./assets/img/pins/station/pin-icon-sf-not-remote.svg" *ngIf="focus.fast === 'sf' && !focus.remoteControl">
                  <img src="./assets/img/pins/station/pin-icon-f-not-remote.svg" *ngIf="focus.fast === 'f' && !focus.remoteControl">
                </ion-col>
                <ion-col col-10 class="infowindow-title-inner">
                  <ion-row class="infowindow-provider-name">
                    {{ focus.providerName }}
                  </ion-row>
                  <ion-row class="infowindow-station-address">
                    {{ focus.formattedAddress }}
                  </ion-row>
                </ion-col>
              </ion-row>

              <ion-row class="infowindow-route-outer" *ngIf="focus.route">
                <ion-col col-3 *ngIf="focus.route.distance">
                  {{ focus.route.distance | metersToKm }}
                </ion-col>
                <ion-col col-3 *ngIf="focus.route.duration">
                  {{ focus.route.duration | secondsToTime }}
                </ion-col>
                <ion-col col-3 *ngIf="focus.route.energy">
                  {{ focus.route.energy.toFixed(2) }}%
                </ion-col>
                <ion-col col-3 *ngIf="focus.route.consumption">
                  {{ focus.route.consumption.toFixed(2) }} kWh
                </ion-col>
              </ion-row>

              <ion-row class="infowindow-plugs-outer" *ngIf="focus.plugs && focus.plugs.length" (click)="canUserCharge && focus.remoteControl ? jumpTo(1) : null">
                <ion-col col-auto *ngFor="let plug of focus.plugs">
                  <ion-row class="infowindow-plug-image-outer">
                    <img [src]="'data:image/svg+xml;base64,' + plug.plug.image | sanitizer">
                  </ion-row>
                  <ion-row class="infowindow-plug-number-outer" *ngIf="plug.number > 1">
                    {{ plug.number }}x
                  </ion-row>
                  <ion-row class="infowindow-plug-power-outer">
                    {{ plug.power * 100 / 100 }}kW
                  </ion-row>
                  <ion-row class="infowindow-plug-name-outer">
                    {{ plug.plug.dataSmall }}
                  </ion-row>
                </ion-col>
                <ion-col col-auto class="go-to-chargers" *ngIf="canUserCharge && focus.remoteControl">
                  <ion-row class="infowindow-plug-next-outer">
                    <img src="./assets/img/general/next.svg">
                  </ion-row>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
          <ion-row class="infowindow-internal-buttons-outer">
            <!-- 3 buttons pattern -->
            <ion-col col-4 class="infowindow-internal-buttons-inner" [ngClass]="focus.favourite ? 'remove' : 'favourite'" (click)="focus.favourite ? removeFavourite() : saveFavourite()">
              <div class="infowindow-internal-button-image shadow">
                <img *ngIf="focus.favourite" src="./assets/img/infowindow-internal-buttons/remove-favourite.png">
                <img *ngIf="!focus.favourite" src="./assets/img/infowindow-internal-buttons/favourite.png">
              </div>
              <div class="infowindow-internal-button-text" *ngIf="focus.favourite"> {{ 'REMOVE_FAVOURITE' | translate }} </div>
              <div class="infowindow-internal-button-text" *ngIf="!focus.favourite"> {{ 'SET_AS_FAVOURITE' | translate }} </div>
            </ion-col>
            <ion-col col-4 class="infowindow-internal-buttons-inner">
            </ion-col>
            <ion-col col-4 class="infowindow-internal-buttons-inner navigate">
              <!-- <div class="infowindow-internal-button-image shadow">
                <img src="./assets/img/infowindow-internal-buttons/navigate.png">
              </div>
              <div class="infowindow-internal-button-text">
                {{ 'NAVIGATE' | translate }}
              </div> -->
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>

      <ion-row #stationChargers class="infowindow-tab-outer infowindow-tab-station-chargers-outer" *ngIf="getTab('chargers').condition()">
        <ion-col col-12 class="infowindow-tab-inner infowinfowindow-tab-loading" *ngIf="getTab('chargers').loading()">
          <img src="./assets/img/loading/infowindow.gif">
        </ion-col>
        <ion-col col-12 class="infowindow-tab-inner infowindow-tab-station-chargers-inner" *ngIf="!getTab('chargers').loading()">
          <ion-row class="infowindow-content-outer" *ngIf="focus.remoteControl">
            <ion-col col-12 class="infowindow-content-inner">
              <ion-row class="infowindow-staton-title-outer">
                <ion-col col-12 class="infowindow-title-inner">
                  <ion-row class="infowindow-provider-name">
                    {{ focus.providerName }}
                  </ion-row>
                </ion-col>
              </ion-row>
              <ion-row class="infowindow-charger-warning-outer" *ngIf="!allKnownChargers()">
                <ion-col col-12 class="infowindow-charger-warning-inner">{{ 'WARNING.ELOADED_NOT_KNOW_THE_PLUG_INFORMATION' | translate }}</ion-col>
              </ion-row>
              <ion-row class="infowindow-charger-danger-outer" *ngIf="!canUserCharge">
                <ion-col col-12 class="infowindow-charger-danger-inner">{{ 'DANGER.USER_HAS_NO_CAR' | translate }}</ion-col>
              </ion-row>

              <ion-row class="infowindow-chargers-outer">
                <ion-col col-12 class="infowindow-chargers-inner">
                  
                  <ion-row class="infowindow-charger-outer" (click)="setChargerFocus()">
                    <ion-col col-2 class="charger-image-outer">
                      <img src="./assets/img/general/unknown_plug.png">
                    </ion-col>
                    <ion-col col-10 class="infowindow-charger-evseid-outer">
                      <ion-row class="charger-status-inner">{{ 'SELECT_CHARGER_MANUALLY' | translate }}</ion-row>
                    </ion-col>
                  </ion-row>

                  <ng-container *ngFor="let charger of focus.chargers">
                    <ion-row class="infowindow-charger-outer" [ngClass]="charger.status ? 'infowindow-charger-' + charger.status.toLowerCase() : ''" (click)="setChargerFocus(charger)">
                      <ion-col col-2 class="charger-image-outer">
                        <ng-container *ngIf="!charger.plug || !charger.plug.image">
                          <img src="./assets/img/general/unknown_plug.png">
                        </ng-container>
                        <ng-container *ngIf="charger.plug && charger.plug.image">
                          <img [src]="'data:image/svg+xml;base64,' + charger.plug.image | sanitizer">
                        </ng-container>
                      </ion-col>
                      <ion-col col-10 class="infowindow-charger-evseid-outer">
                        <ion-row class="charger-evseid-inner">{{ charger.evseid }}</ion-row>
                        <ion-row class="charger-status-inner">{{ charger.status | translate }}</ion-row>
                      </ion-col>
                    </ion-row>
                  </ng-container>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-grid>
