station-infowindow {
  .infowindow-order-preview-product-name,
  .infowindow-order-preview-product-price {
    padding: 0;
  }

  .infowindow-plug-number-outer {
    position: absolute;
    top: 30px;
    left: 0px;
    background: rgba(0,0,255,0.5);
    padding: 1px 8px;
    border-radius: 20px;
    font-weight: bold;
  }

  .go-to-chargers {
    flex-grow: 2;
    ion-row {
      img {
        margin-left: auto;
      }
    }
  }

  .infowindow-plugs-outer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .infowindow-plug-power-outer {
    display: block;
    text-align: center;
  }

  .infowindow-plug-name-outer {
    display: block;
    text-align: center;
  }

  .infowindow-chargers-inner {
    max-height: 40vh;
    overflow: scroll;
  }

  .infowindow-charger-outer {
    margin: 1rem 0;
    ion-col {
      padding: 0;
    }

    .charger-image-outer {
      display: flex;
      justify-content: center;
    }
  }

  .infowindow-route-outer {
    text-align: center;
  }

  .infowindow-plug-image-outer {
    position: relative;
    img {
      width: 100%;
      height: 50px;
    }
  }

  .infowindow-plug-next-outer {
    position: relative;
    height: 100%;
    img {
      align-self: center;
      height: 50px;
    }
  }

  .infowindow-tab-station-charger-inner {
    label {
      font-size: 1.1rem;
      font-weight: bold;
    }

    .infowindow-charger-button-outer {
      margin-top: 2rem;
      display: flex;
      align-items: flex-end;
    }

    button#calculate-rates {
      margin-left: auto;
      padding: 1rem;
      font-size: 1.8rem;
      border-radius: 1rem;
      background: #94c11f;
    }
  }

  .infowindow-tab-station-order-preview-inner {
    .infowindow-order-preview-name-label {
      font-weight: bold;
      font-size: 1.8rem;
    }

    .infowindow-order-preview-name-number {
      color: grey;
      font-size: 1.2rem;
      font-style: italic;
    }

    .infowindow-order-preview-product-price,
    .infowindow-order-preview-total-price-inner {
      text-align: right;
    }

    .infowindow-order-preview-buttons-inner {
      display: flex;
    }

    button#pay {
      margin-left: auto;
      padding: 1rem;
      font-size: 1.8rem;
      border-radius: 1rem;
      background: #94c11f;
    }
  }
}
