<ion-list no-margin no-lines>
    <ng-template ngFor let-option [ngForOf]="collapsableItems" let-i="index">

        <!-- It is a simple option -->
        <ng-template [ngIf]="!option.subItemsCount">
            <ion-item class="option menu-section" [ngClass]="menuSettings?.showSelectedOption && option.selected ? menuSettings.selectedOptionClass : null" (click)="select(option)" tappable>
                <ion-icon color="icon" *ngIf="option.iconName" [name]="option.iconName" item-left></ion-icon>
                <b>{{ option.displayName | translate }}</b> <ion-badge item-right *ngIf="option.badge | async as badgeNo">{{ badgeNo }}</ion-badge>
            </ion-item>
        </ng-template>

        <!-- It has nested options -->
        <ng-template [ngIf]="option.subItemsCount">

            <ion-list no-margin class="accordion-menu">

                <!-- Header -->
                <ion-item class="header" [ngClass]="menuSettings?.showSelectedOption && option.selected ? menuSettings.selectedOptionClass : null" (click)="toggleItemOptions(option)" tappable>
                    <ion-icon color="icon" [class.rotate]="option.expanded" class="header-icon" [name]="option.iconName || menuSettings.arrowIcon" item-left></ion-icon>
                    <b>{{ option.displayName | translate }}</b>
                </ion-item>

                <!-- Sub items -->
                <!-- <div [style.height]="option.expanded ? ((itemHeight + 1) * option.subItemsCount) + 'px' : '0px'" class="options"> -->
                <div [style.height]="option.expanded ? 'auto' : '0px'" [style.border]="option.expanded ? 'auto' : '0px'" class="options">
                    <ng-template ngFor let-item [ngForOf]="option.subOptions">
                        <ion-item class="sub-option menu-section" [style.padding-left]="subOptionIndentation" [class.no-icon]="menuSettings?.indentSubOptionsWithoutIcons && !item.iconName" [ngClass]="menuSettings?.showSelectedOption && item.selected ? menuSettings.selectedOptionClass : null" tappable (click)="select(item)">
                            <ion-icon color="icon" *ngIf="item.iconName" [name]="item.iconName" item-left></ion-icon>
                            <b>{{ item.displayName | translate }}</b>  <ion-badge item-right *ngIf="item.badge | async as badgeNo">{{ badgeNo }}</ion-badge>
                        </ion-item>
                    </ng-template>
                </div>
            </ion-list>

        </ng-template>

    </ng-template>
</ion-list>
