<ion-grid (swipeleft)="swipeEvent($event)" (swiperight)="swipeEvent($event)">
  <infowindow-tabs-header [(tabList)]="tabList" [(current)]="currentTab" prefix="cars" [autoHide]="true"
    (close)="closeInfowindow()" (jumpTo)="jumpTo($event)">
  </infowindow-tabs-header>

  <ion-row class="infowindow-tab-content-outer" [style.width.vw]="validTabs.length * 100" [style.left.vw]="(0 - realCurrentTab) * 100 " [style.height.px]="bodyHeight.max">
    <ion-col col-12 class="infowindow-tab-content-inner">
      <ion-row #carsListPage class="infowindow-tab-outer infowindow-tab-cars-list-outer" *ngIf="getTab('list').condition()">
        <ion-col col-12 class="infowindow-tab-inner infowinfowindow-tab-loading" *ngIf="getTab('list').loading()">
          <img src="./assets/img/loading/infowindow.gif">
        </ion-col>
        <ion-col col-12 class="infowindow-tab-inner infowindow-tab-cars-list-inner" *ngIf="!getTab('list').loading()">
          <ion-row class="infowindow-content-outer">
            <ion-col col-12 class="infowindow-content-inner">

              <ion-row #defaultCarRow class="infowindow-default-car-outer" *ngIf="defaultCar">
                <ion-col col-10 class="infowindow-default-car-inner" (click)="scroll > bodyHeight.min ? collapseInfowindow() : openInfowindow()">
                  <ion-row>
                    <ion-col col-1 class="infowindow-car-logo-outer">
                      <ng-container *ngIf="defaultCar.model.image; else localLogo">
                        <img [src]="'data:image/svg+xml;base64,' + defaultCar.model.image | sanitizer">
                      </ng-container>
                      <ng-container #localLogo *ngIf="defaultCar.model.manufacturer">
                        <img [src]="'./assets/img/general/carslogos/'+ defaultCar.model.manufacturer + '.svg'">
                      </ng-container>
                    </ion-col>
                    <ion-col class="infowindow-title-inner">
                      <ion-row class="infowindow-cars-list-car-plate-outer">
                        <span class="infowindow-cars-list-car-plate-inner">{{ defaultCar.plate }}</span>
                      </ion-row>
                      <ion-row class="infowindow-cars-list-car-model-outer">
                        <span class="infowindow-cars-list-car-model-inner">{{ defaultCar.model.modelName }}</span>
                      </ion-row>
                    </ion-col>
                    <ng-container *ngIf="defaultCar.plugs && defaultCar.plugs.length">
                      <ion-col class="infowindow-cars-list-car-plugs-outer" *ngFor="let plug of defaultCar.plugs" align-self-end col-auto>
                        <div class="infowindow-cars-list-car-plug-outer">
                          <img class="infowindow-cars-list-car-plug-image" [src]="'data:image/svg+xml;base64,' + plug.plug.image | sanitizer">
                        </div>
                      </ion-col>
                    </ng-container>
                    <ion-col col-auto class="infowindow-cars-list-car-detail-button" (click)="openEditor(defaultCar); $event.stopPropagation()">
                      <img src="./assets/img/general/next.svg">
                    </ion-col>
                  </ion-row>
                </ion-col>
                <ion-col col-2 class="infowindow-soc-outer" (click)="toggleKeyboard()">
                  <span class="infowindow-soc-inner" [(style.color)]="socColor">
                    {{ stateOfCharge }}%
                  </span>
                  <span class="infowindow-soc-range-inner">
                    {{ kmRange }}Km
                  </span>
                </ion-col>
              </ion-row>
              <ion-row class="infowindow-extra-cars-separator-outer" *ngIf="defaultCar">
                <ion-col col-12 class="infowindow-extra-cars-separator-inner">
                  <hr class="separator-grow">
                  <div class="separator-text">{{ 'CHANGE_YOUR_CURRENT_CAR' | translate }}</div>
                  <hr class="separator-grow">
                </ion-col>
              </ion-row>

              <ng-container *ngFor="let car of otherCars">
                <ion-row class="infowindow-cars-list-car-outer" (click)="setDefaultCar(car)">
                  <ion-col col-1 class="infowindow-car-logo-outer">
                    <ng-container *ngIf="car.model.image; else localLogo">
                      <img [src]="'data:image/svg+xml;base64,' + car.model.image | sanitizer">
                    </ng-container>
                    <ng-container #localLogo *ngIf="car.model.manufacturer">
                      <img [src]="'./assets/img/general/carslogos/'+ car.model.manufacturer + '.svg'">
                    </ng-container>
                  </ion-col>
                  <ion-col class="infowindow-title-inner">
                    <ion-row class="infowindow-cars-list-car-plate-outer">
                      <span class="infowindow-cars-list-car-plate-inner">{{ car.plate }}</span>
                    </ion-row>
                    <ion-row class="infowindow-cars-list-car-model-outer">
                      <span class="infowindow-cars-list-car-model-inner">{{ car.model.modelName }}</span>
                    </ion-row>
                  </ion-col>
                  <ng-container *ngIf="car.plugs && car.plugs.length">
                    <ion-col class="infowindow-cars-list-car-plugs-outer" *ngFor="let plug of car.plugs" align-self-end col-auto>
                      <div class="infowindow-cars-list-car-plug-outer">
                        <img class="infowindow-cars-list-car-plug-image" [src]="'data:image/svg+xml;base64,' + plug.plug.image | sanitizer">
                      </div>
                    </ion-col>
                  </ng-container>
                  <ion-col col-auto class="infowindow-cars-list-car-detail-button" (click)="openEditor(car); $event.stopPropagation()">
                    <img src="./assets/img/general/next.svg">
                  </ion-col>
                </ion-row>
              </ng-container>

              <ion-row #newCarRow class="infowindow-cars-list-car-outer" (click)="openEditor()">
                <ion-col col-1 class="infowindow-car-logo-outer">
                  <img src="./assets/img/general/add.svg">
                </ion-col>
                <ion-col class="infowindow-title-inner">
                  <ion-row class="settings-window-add-car-title-outer">
                    {{ 'ADD_NEW_CAR.TITLE' | translate }}
                  </ion-row>
                </ion-col>
              </ion-row>

            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>

      <ion-row #carEditorPage class="infowindow-tab-outer infowindow-tab-car-editor-outer" *ngIf="getTab('editor').condition()">
        <ion-col col-12 class="infowindow-tab-inner infowinfowindow-tab-loading" *ngIf="getTab('editor').loading()">
          <img src="./assets/img/loading/infowindow.gif">
        </ion-col>
        <ion-col col-12 class="infowindow-tab-inner infowindow-tab-car-editor-inner" *ngIf="!getTab('editor').loading()">

          <ion-row class="infowindow-car-editor-outer" *ngIf="focus">
            <ion-col col-12 class="infowindow-car-editor-inner">
              <form [formGroup]="editor" class="eloaded-form">
                <ion-row class="infowindow-car-editor-plate-outer">
                  <ion-col col-5 class="infowindow-car-editor-model-inner">
                    <label> {{ 'MODEL' | translate }}</label>
                    <select formControlName="model" (change)="cd.detectChanges()">
                        <option [ngValue]="null" *ngIf="!focus._id">{{ 'SELECT_CAR_MODEL' | translate }}</option>
                        <ng-container *ngFor="let car of systemCars">
                          <option [value]="car._id">{{ car.name }}</option>
                        </ng-container>
                    </select>
                    <span class="validation-error" [ngClass]="editor.get('model').touched && editor.get('model').hasError('required') ? 'show' : 'hidden'">
                      {{ 'VALIDATION.MODEL_REQUIRED' | translate }}
                    </span>
                  </ion-col>

                  <ion-col col-7 class="infowindow-car-editor-plate-inner">
                    <label>{{ 'LICENSE_PLATE' | translate }}</label>
                    <input type="text" formControlName="plate" (change)="cd.detectChanges()">
                    <span class="validation-error" [ngClass]="editor.get('plate').touched && editor.get('plate').invalid ? 'show' : 'hidden'">
                      {{ 'VALIDATION.PLATE_REQUIRED' | translate }}
                    </span>
                  </ion-col>
                </ion-row>

                <ion-row class="infowindow-car-editor-battery-outer">
                  <ion-col col-5 class="infowindow-car-editor-capacity-inner">
                    <label> {{ 'CAPACITY' | translate }}</label>
                    <input
                      (change)="cd.detectChanges()"
                      type="number"
                      formControlName="capacity"
                      [ngClass]="!capacityExists() || !capacityValid() ? 'invalid' : ''"
                      [placeholder]="editorModel ? editorModel.capacity : 0">
                    <span class="validation-error" [ngClass]="editor.get('capacity').touched && (!capacityExists() || !capacityValid()) ? 'show' : 'hidden'">
                      <ng-container *ngIf="!capacityExists()">{{ 'VALIDATION.CAPACITY_REQUIRED' | translate }}</ng-container>
                      <ng-container *ngIf="capacityExists() && !capacityValid()">{{ 'VALIDATION.CAPACITY_AT_LEAST_1' | translate }}</ng-container>&nbsp;
                    </span>
                  </ion-col>
                  <ion-col col-6 class="infowindow-car-editor-consumption-inner">
                    <label> {{ 'CONSUMPTION' | translate }}</label>
                    <input
                      (change)="cd.detectChanges()"
                      type="number"
                      formControlName="consumption"
                      [ngClass]="!consumptionExists() || !consumptionValid() ? 'invalid' : ''"
                      [placeholder]="editorModel ? editorModel.consumption : 0">
                    <span class="validation-error" [ngClass]="editor.get('consumption').touched && (!consumptionExists() || !consumptionValid()) ? 'show' : 'hidden'">
                      <ng-container *ngIf="!consumptionExists()">{{ 'VALIDATION.CONSUMPTION_REQUIRED' | translate }}</ng-container>
                      <ng-container *ngIf="consumptionExists() && !consumptionValid()">{{ 'VALIDATION.CONSUMPTION_AT_LEAST_1' | translate }}</ng-container>&nbsp;
                    </span>
                  </ion-col>
                  <ion-col col-1 class="infowindow-car-editor-consumption-details-button-container-outer">
                    <div class="infowindow-car-editor-consumption-details-button-outer" (click)="toggleEditorDetails()">
                      <img src="./assets/img/general/more.svg">
                    </div>
                  </ion-col>
                </ion-row>

                <ion-row class="infowindow-car-editor-consumption-details-outer" *ngIf="editorDetails">
                  <ion-col col-12 class="infowindow-car-editor-consumption-details-outer" formGroupName="consumptionDetails">
                    <ion-row class="infowindow-car-editor-consumption-details-mild-outer" formGroupName="mild">
                      <ion-col col-4 class="infowindow-car-editor-consumption-details-mild-city-outer">
                        <label>{{ 'MILD' | translate }} - {{ 'CITY' | translate }}</label>
                        <input
                          type="number"
                          (change)="cd.detectChanges()"
                          formControlName="city"
                          [placeholder]="editorModel && editorModel.consumptionDetails && editorModel.consumptionDetails.mild && editorModel.consumptionDetails.mild.city ? editorModel.consumptionDetails.mild.city : editorModel && editorModel.consumption ? editorModel.consumption : 0">
                        <span class="validation-error" [ngClass]="editor.get('consumptionDetails.mild.city').touched && editor.get('consumptionDetails.mild.city').invalid ? 'show' : 'hidden'">
                          {{ 'VALIDATION.MUST_BE_AT_LEAST_1' | translate }}
                        </span>
                      </ion-col>

                      <ion-col col-4 class="infowindow-car-editor-consumption-details-mild-combined-outer">
                        <label>{{ 'MILD' | translate }} - {{ 'COMBINED' | translate }}</label>
                        <input
                          type="number"
                          (change)="cd.detectChanges()"
                          formControlName="combined"
                          [placeholder]="editorModel && editorModel.consumptionDetails && editorModel.consumptionDetails.mild && editorModel.consumptionDetails.mild.combined ? editorModel.consumptionDetails.mild.combined : editorModel && editorModel.consumption ? editorModel.consumption : 0">
                        <span class="validation-error" [ngClass]="editor.get('consumptionDetails.mild.combined').touched && editor.get('consumptionDetails.mild.combined').invalid ? 'show' : 'hidden'">
                          {{ 'VALIDATION.MUST_BE_AT_LEAST_1' | translate }}
                        </span>
                      </ion-col>

                      <ion-col col-4 class="infowindow-car-editor-consumption-details-mild-highway-outer">
                        <label>{{ 'MILD' | translate }} - {{ 'HIGHWAY' | translate }}</label>
                        <input
                          type="number"
                          (change)="cd.detectChanges()"
                          formControlName="highway"
                          [placeholder]="editorModel && editorModel.consumptionDetails && editorModel.consumptionDetails.mild && editorModel.consumptionDetails.mild.highway ? editorModel.consumptionDetails.mild.highway : editorModel && editorModel.consumption ? editorModel.consumption : 0">
                        <span class="validation-error" [ngClass]="editor.get('consumptionDetails.mild.highway').touched && editor.get('consumptionDetails.mild.highway').invalid ? 'show' : 'hidden'">
                          {{ 'VALIDATION.MUST_BE_AT_LEAST_1' | translate }}
                        </span>
                      </ion-col>
                    </ion-row>

                    <ion-row class="infowindow-car-editor-consumption-details-cold-outer" formGroupName="cold">
                      <ion-col col-4 class="infowindow-car-editor-consumption-details-cold-city-outer">
                        <label>{{ 'COLD' | translate }} - {{ 'CITY' | translate }}</label>
                        <input
                          type="number"
                          (change)="cd.detectChanges()"
                          formControlName="city"
                          [placeholder]="editorModel && editorModel.consumptionDetails && editorModel.consumptionDetails.cold && editorModel.consumptionDetails.cold.city ? editorModel.consumptionDetails.cold.city : editorModel && editorModel.consumption ? editorModel.consumption : 0">
                        <span class="validation-error" [ngClass]="editor.get('consumptionDetails.cold.city').touched && editor.get('consumptionDetails.cold.city').invalid ? 'show' : 'hidden'">
                          {{ 'VALIDATION.MUST_BE_AT_LEAST_1' | translate }}
                        </span>
                      </ion-col>

                      <ion-col col-4 class="infowindow-car-editor-consumption-details-cold-combined-outer">
                        <label>{{ 'COLD' | translate }} - {{ 'COMBINED' | translate }}</label>
                        <input
                          (change)="cd.detectChanges()"
                          type="number"
                          formControlName="combined"
                          [placeholder]="editorModel && editorModel.consumptionDetails && editorModel.consumptionDetails.cold && editorModel.consumptionDetails.cold.combined ? editorModel.consumptionDetails.cold.combined : editorModel && editorModel.consumption ? editorModel.consumption : 0">
                        <span class="validation-error" [ngClass]="editor.get('consumptionDetails.cold.combined').touched && editor.get('consumptionDetails.cold.combined').invalid ? 'show' : 'hidden'">
                          {{ 'VALIDATION.MUST_BE_AT_LEAST_1' | translate }}
                        </span>
                      </ion-col>

                      <ion-col col-4 class="infowindow-car-editor-consumption-details-cold-highway-outer">
                        <label>{{ 'COLD' | translate }} - {{ 'HIGHWAY' | translate }}</label>
                        <input
                          (change)="cd.detectChanges()"
                          type="number"
                          formControlName="highway"
                          [placeholder]="editorModel && editorModel.consumptionDetails && editorModel.consumptionDetails.cold && editorModel.consumptionDetails.cold.highway ? editorModel.consumptionDetails.cold.highway : editorModel && editorModel.consumption ? editorModel.consumption : 0">
                        <span class="validation-error" [ngClass]="editor.get('consumptionDetails.cold.highway').touched && editor.get('consumptionDetails.cold.highway').invalid ? 'show' : 'hidden'">
                          {{ 'VALIDATION.MUST_BE_AT_LEAST_1' | translate }}
                        </span>
                      </ion-col>
                    </ion-row>
                  </ion-col>
                </ion-row>

                <ion-row class="infowindow-car-editor-plugs-outer" formArrayName="plugs">
                  <ion-col col-12 class="infowindow-car-editor-plugs-inner">
                    <label>{{ 'CAR_PLUGS' | translate }}</label>
                    <ng-container *ngFor="let p of plugsControls().controls; let i = index">
                      <ion-row class="infowindow-car-editor-plug-outer" [formGroupName]="i">
                        <ion-col col-1 class="infowindow-car-editor-plug-image-outer">
                          <div class="infowindow-car-editor-plug-image-inner">
                            <img class="infowindow-editor-plug-image" *ngIf="editor.disabled || editor.get('plugs.' + i).valid" [src]="'data:image/svg+xml;base64,' + getPlugImage(editor.get('plugs.' + i + '.plug').value) | sanitizer">
                          </div>
                        </ion-col>
                        <ion-col co-4 class="infowindow-car-editor-plug-name-outer">
                          <label>{{ 'PLUG' | translate }}</label>
                          <select formControlName="plug" (change)="cd.detectChanges()">
                            <option [ngValue]="null">{{ 'SELECT_PLUG' | translate }}</option>
                            <ng-container *ngFor="let systemPlug of availablePlugsOnCar(i)">
                              <option [value]="systemPlug._id">{{ systemPlug.dataSmall }}</option>
                            </ng-container>
                          </select>
                          <span class="validation-error" [ngClass]="editor.get('plugs.' + i + '.plug').invalid ? 'show' : 'hidden'">
                            <ng-container *ngIf="editor.get('plugs.' + i + '.plug').hasError('required') && editor.get('plugs.' + i + '.plug').touched">{{ 'VALIDATION.PLUG_REQUIRED' | translate }}</ng-container>&nbsp;
                          </span>
                        </ion-col>
                        <ion-col col-6 class="infowindow-car-editor-plug-speed-outer">
                          <label>{{ 'CHARGE_SPEED' | translate }}</label>
                          <input type="number" formControlName="speed" (change)="cd.detectChanges()">
                          <span class="validation-error" [ngClass]="editor.get('plugs.' + i + '.speed').invalid ? 'show' : 'hidden'">
                            <ng-container *ngIf="editor.get('plugs.' + i + '.speed').hasError('required') && editor.get('plugs.' + i + '.speed').touched">{{ 'VALIDATION.PLUG_SPEED_REQUIRED' | translate }}</ng-container>
                            <ng-container *ngIf="editor.get('plugs.' + i + '.speed').hasError('min') && editor.get('plugs.' + i + '.speed').touched">{{ 'VALIDATION.MUST_BE_AT_LEAST_1' | translate }}</ng-container>&nbsp;
                          </span>
                        </ion-col>
                        <ion-col col-1 class="infowindow-car-editor-remove-plug-outer">
                          <div class="infowindow-car-editor-remove-plug-button-outer" (click)="removePlug(i)" *ngIf="plugsControls().controls.length > 1 && editor.enabled">
                            <img src="./assets/img/general/close.svg" >
                          </div>
                        </ion-col>
                      </ion-row>
                    </ng-container>
                    <ion-row class="infowindow-car-editor-plug-outer" (click)="addPlugToEditor()" *ngIf="availablePlugsOnCar(-1).length && !invalidPlugs()">
                      <ion-col col-1 class="infowindow-car-editor-plug-image-outer">
                        <div class="infowindow-car-editor-plug-image-inner">
                          <img src="./assets/img/general/add.svg">
                        </div>
                      </ion-col>
                      <ion-col col-11 class="infowindow-car-editor-plug-add-outer">
                        {{ 'ADD_PLUG' | translate }}
                      </ion-col>
                    </ion-row>
                  </ion-col>
                </ion-row>
                <span class="validation-error" [ngClass]="minPlugs() ? 'show' : 'hidden'">
                  <ng-container *ngIf="minPlugs()">{{ 'VALIDATION.AT_LEAST_1_CAR_PLUG_REQUIRED' | translate }}</ng-container>
                </span>

                <ion-row class="infowindow-car-editor-fast-outer" *ngIf="maxChargeSpeed() !== 0">
                  <ion-col col-12 class="infowindow-car-editor-fast-inner">
                    <label>{{ 'MIN_POWER_FAST_CHARGING' | translate }}:
                      <span class="infowindow-car-editor-fast-current-value">
                        <ng-container *ngIf="editorFast() !== 0">{{ editorFast() }} kW</ng-container>
                        <ng-container *ngIf="editorFast() === 0">{{ 'ALL_SOCKETS' | translate }}</ng-container>
                      </span>
                    </label>
                    <ion-range min="0"
                      [ngClass]="editor.disabled ? 'hidden' : ''"
                      [max]="maxChargeSpeed()"
                      formControlName="fast"
                      color="primary" class="full-width"
                      (ionChange)="cd.detectChanges()">
                      <ion-label range-left>{{ 'ALL_SOCKETS' | translate }}</ion-label>
                      <ion-label range-right>{{ maxChargeSpeed() }} kW</ion-label>
                    </ion-range>
                  </ion-col>
                </ion-row>
              </form>
              <ion-row class="infowindow-internal-buttons-outer">
                <ion-col col-4 class="infowindow-internal-buttons-inner" [ngClass]="focus._id && !editor.enabled ? 'remove' : 'abort'" (click)="focus._id && !editor.enabled ? onRemove() : abort()">
                  <div class="infowindow-internal-button-image shadow">
                    <img *ngIf="focus._id && !editor.enabled" src="./assets/img/infowindow-internal-buttons/remove.png">
                    <img *ngIf="!focus._id || editor.enabled" src="./assets/img/infowindow-internal-buttons/abort.png">
                  </div>
                  <div class="infowindow-internal-button-text" *ngIf="focus._id && !editor.enabled">{{ 'REMOVE_CAR' | translate }}</div>
                  <div class="infowindow-internal-button-text" *ngIf="!focus._id || editor.enabled">{{ 'ABORT' | translate }}</div>
                </ion-col>

                <ion-col col-4 class="infowindow-internal-buttons-inner" [ngClass]="editor.enabled ? 'save' : 'edit'" (click)="editor.enabled ? onSave() : enableEditor()">
                  <div class="infowindow-internal-button-image shadow">
                    <img src="./assets/img/infowindow-internal-buttons/edit.png" *ngIf="!editor.enabled">
                    <img src="./assets/img/infowindow-internal-buttons/save.png" *ngIf="editor.enabled">
                  </div>
                  <div class="infowindow-internal-button-text" *ngIf="!editor.enabled">{{ 'EDIT' | translate }}</div>
                  <div class="infowindow-internal-button-text" *ngIf="editor.enabled">{{ 'SAVE' | translate }}</div>
                </ion-col>
                <ion-col col-4 class="infowindow-internal-buttons-inner default" *ngIf="editor.disabled && !focus.default" (click)="setDefaultCarFromEditor()">
                  <div class="infowindow-internal-button-image shadow">
                    <img src="./assets/img/infowindow-internal-buttons/favourite.png">
                  </div>
                  <div class="infowindow-internal-button-text">
                    {{ 'SET_AS_DEFAULT_CAR' | translate }}
                  </div>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>

        </ion-col>
      </ion-row>

    </ion-col>
  </ion-row>
</ion-grid>
