cars-infowindow {
  .infowindow-default-car-inner,
  .infowindow-soc-outer,
  .infowindow-cars-list-car-inner,
  .infowindow-car-editor-inner,
  .infowindow-car-editor-model-inner,
  .infowindow-car-editor-plate-inner,
  .infowindow-car-editor-capacity-inner,
  .infowindow-car-editor-consumption-inner,
  .infowindow-car-editor-consumption-details-button-container-outer,
  .infowindow-car-editor-plugs-inner,
  .infowindow-car-editor-plug-image-outer,
  .infowindow-car-editor-plug-name-outer,
  .infowindow-car-editor-plug-speed-outer,
  .infowindow-car-editor-remove-plug-outer,
  .infowindow-car-editor-consumption-details-outer,
  .infowindow-car-editor-consumption-details-mild-city-outer,
  .infowindow-car-editor-consumption-details-mild-combined-outer,
  .infowindow-car-editor-consumption-details-mild-highway-outer,
  .infowindow-car-editor-consumption-details-cold-city-outer,
  .infowindow-car-editor-consumption-details-cold-combined-outer,
  .infowindow-car-editor-consumption-details-cold-highway-outer,
  .infowindow-car-editor-fast-inner,
  .infowindow-extra-cars-separator-inner,
  .infowindow-car-logo-outer {
    padding: 0;
  }

  .infowindow-car-editor-model-inner,
  .infowindow-car-editor-plug-name-outer,
  .infowindow-car-editor-consumption-details-mild-city-outer,
  .infowindow-car-editor-consumption-details-cold-city-outer,
  .infowindow-car-editor-consumption-details-mild-combined-outer,
  .infowindow-car-editor-consumption-details-cold-combined-outer,
  .infowindow-car-editor-capacity-inner {
    padding-right: 0.4rem;
  }

  .infowindow-car-editor-plate-inner,
  .infowindow-car-editor-consumption-inner,
  .infowindow-car-editor-consumption-details-mild-combined-outer,
  .infowindow-car-editor-consumption-details-cold-combined-outer,
  .infowindow-car-editor-consumption-details-mild-highway-outer,
  .infowindow-car-editor-consumption-details-cold-highway-outer,
  .infowindow-car-editor-plug-name-outer,
  .infowindow-car-editor-plug-speed-outer {
    padding-left: 0.4rem;
  }

  .infowindow-icon-inner > img {
    width: 100%;
  }

  .infowindow-default-car-outer,
  .infowindow-cars-list-car-outer {
    padding: 0.5rem 0;
  }

  .infowindow-car-logo-outer {
    display: flex;
    align-items: center;
    img {
      width: 100%;
    }
  }

  .infowindow-title-inner {
    margin-left: 1rem;
  }

  .infowindow-cars-list-car-plugs-outer {
    padding: 0 0.5rem;
  }

  .infowindow-car-editor-consumption-details-button-outer,
  .infowindow-car-editor-remove-plug-button-outer,
  .infowindow-car-editor-plug-image-inner {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;

    img {
      width: 2rem;
      margin: 0 auto;
    }
  }

  .infowindow-soc-inner {
    font-size: 2.5rem;
    line-height: 2.5rem;
    font-weight: bold;
    display: block;
    width: 100%;
    text-align: center;
  }

  .infowindow-extra-cars-separator-inner {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    hr {
      background: grey;
      flex-shrink: 1;
      flex-grow: 1;
    }
    .separator-text {
      margin: 0.5rem;
      font-size: smaller;
      color: grey;
    }
  }

  .infowindow-soc-range-inner {
    font-size: 1.2rem;
    line-height: 1.2rem;
    display: block;
    width: 100%;
    text-align: center;
  }

  .infowindow-cars-list-car-plugs-inner {
    display: flex;
    justify-content: space-around;
  }

  .infowindow-cars-list-car-plug-outer {
    display: flex;
    flex-direction: column;
    width: fit-content;

    .infowindow-cars-list-car-plug-image {
      width: 3rem;
    }

    .infowindow-cars-list-car-plug-speed {
      font-size: x-small;
      text-align: center;
    }
  }

  .infowindow-cars-list-car-plate-inner {
    font-size: 2rem;
    line-height: 2rem;
    margin-right: 0.5rem;
  }

  .infowindow-cars-list-car-model-inner {
    font-size: 1.3rem;
    line-height: 1.3rem;
    color: grey;
    font-style: italic;
    display: block;
  }

  .infowindow-cars-list-car-detail-button {
    display: flex;
    align-items: center;
    img {
      width: 2rem;
    }
  }

  .infowindow-car-editor-fast-inner {
    ion-range.hidden {
      visibility: hidden;
    }
  }
}
