<div class="filters-button-outer">
  <div id="filters-element" class="filters-button-inner shadow" [ngClass]="open ? 'expanded' : 'collapsed'" (click)="expandFilters()">
    <ng-container *ngIf="!open">
      <img class="filter-icon" src="./assets/img/filters-on-map/filter.svg">
    </ng-container>
    <div [ngClass]="open ? '' : 'filters-hidden'">
      <div class="filters-content-close-button" (click)="collapseFilters(); $event.stopPropagation()">
        <img class="filter-icon" src="./assets/img/general/close.svg">
      </div>
      <ion-grid>
        <ion-row>
          <ion-label class="first-label">{{ 'FILTER.MAP_STYLE' | translate }}</ion-label>
        </ion-row>
        <ion-row>
          <ion-segment [(ngModel)]="filters.mapStyle" color="primary">
            <ion-segment-button value="sunny" (ionSelect)="mapStyleUpdate('sunny')" [ngClass]="filters.mapStyle === 'sunny' ? 'segment-activated' : ''">
              <img *ngIf="filters.mapStyle === 'sunny'" src="./assets/img/filters-on-map/sun_selected.png">
              <img *ngIf="filters.mapStyle !== 'sunny'" src="./assets/img/filters-on-map/sun.png">
            </ion-segment-button>
            <ion-segment-button value="moon" (ionSelect)="mapStyleUpdate('moon')">
              <img *ngIf="filters.mapStyle === 'moon'" src="./assets/img/filters-on-map/moon_selected.png">
              <img *ngIf="filters.mapStyle !== 'moon'" src="./assets/img/filters-on-map/moon.png">
            </ion-segment-button>
          </ion-segment>
        </ion-row>

        <ion-row>
          <ion-label>{{ 'FILTER.STATIONS_DISPLAYED' | translate }}</ion-label>
        </ion-row>
        <ion-row>
          <ion-segment [(ngModel)]="filters.filtered" color="primary">
            <ion-segment-button value="all" (ionSelect)="filteredUpdate('all')">
              {{ 'FILTER.OPTION.ALL' | translate }}
            </ion-segment-button>
            <ion-segment-button value="plugs" (ionSelect)="filteredUpdate('plugs')" [disabled]="!userHasPlugs">
              {{ 'FILTER.OPTION.CAR_PLUGS' | translate }}
            </ion-segment-button>
            <ion-segment-button value="fast" (ionSelect)="filteredUpdate('fast')" [(disabled)]="!userHasFast">
              {{ 'FILTER.OPTION.FAST_PLUGS' | translate }}
            </ion-segment-button>
          </ion-segment>
        </ion-row>

        <ion-row>
          <ion-label>{{ 'FILTER.REMOTE_ONLY' | translate }}</ion-label>
        </ion-row>
        <ion-row>
          <ion-segment [(ngModel)]="filters.remoteOnly" color="primary">
            <ion-segment-button [value]="true" (ionSelect)="remoteOnly(true)">
              {{ 'OPTION.YES' | translate }}
            </ion-segment-button>
            <ion-segment-button [value]="false" (ionSelect)="remoteOnly(false)">
              {{ 'OPTION.NO' | translate }}
            </ion-segment-button>
          </ion-segment>
        </ion-row>

        <ion-row>
          <ion-label>{{ 'FILTER.MAP_DETAILS' | translate }}</ion-label>
        </ion-row>
        <ion-row>
          <div class="filter-option-detail-outer traffic"  [ngClass]="filters.traffic ? 'selected' : ''" (click)="trafficUpdate()">
            <div class="filter-option-detail-image traffic">
              <img *ngIf="filters.traffic" src="./assets/img/filters-on-map/traffic_selected.png">
              <img *ngIf="!filters.traffic" src="./assets/img/filters-on-map/traffic.png">
            </div>
            <div class="filter-option-detail-label traffic">
              {{ 'FILTER.OPTION.TRAFFIC' | translate }}
            </div>
          </div>

          <div class="filter-option-detail-outer aqi"  [ngClass]="filters.aqi ? 'selected' : ''" (click)="aqiUpdate()">
            <div class="filter-option-detail-image aqi">
              <img *ngIf="filters.aqi" src="./assets/img/filters-on-map/aqi_selected.png">
              <img *ngIf="!filters.aqi" src="./assets/img/filters-on-map/aqi.png">
            </div>
            <div class="filter-option-detail-label aqi">
              {{ 'FILTER.OPTION.AQI' | translate }}
            </div>
          </div>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</div>
