:host {
  .filters-hidden {
    visibility: hidden;
    height: 0;
    width: 0;
  }
  .filters-button-outer {
    .filter-icon {
      height: 60%;
      width: 60%;
      margin: 20%;
    }

    .segment {
      background: #e4e4e7;
      height: 3rem;
      border-radius: 1rem;
      padding: 0.2rem;

      .segment-button {
        font-weight: bold;
        border: 0;
        height: 2.6rem;
        line-height: 2.6rem;
        border-radius: 1rem;

        img {
          height: 2rem;
          margin: 0.3rem 0;
        }
      }

      .segment-activated {
        background: #94c11f;
        color: white;
      }
    }

    .filters-content-close-button {
      position: absolute;
      background: white;
      height: 2rem;
      width: 2rem;
      margin: 1rem 1rem 0 0;
      right: 0;
      border-radius: 2rem;
    }

    .filters-button-inner {
      transition-duration: 0.5s;
    }

    .filters-button-inner.collapsed {
      height: 4rem;
      width: 4rem;
      border-radius: 2rem;
      background: white;
    }

    .filters-button-inner.expanded {
      border-radius: 2rem;
      width: 30rem;
      background: #f4f4f4;

      ion-grid {
        padding: 1rem 2rem 2rem;

        ion-label {
          margin: 1rem 0 0.5rem;
          font-weight: bold;
        }

        ion-label.first-label {
          margin-top: 0;
        }
      }
    }

    .filter-option-detail-outer:first-child {
      margin-left: 0;
    }

    .filter-option-detail-label {
      text-align: center;
    }

    .filter-option-detail-outer {
      margin: 0 1rem;

      .filter-option-detail-image {
        background: #e4e4e7;
        border-radius: 1rem;
        display: flex;

        img {
          margin: auto;
          max-width: 80%;
          max-height: 70%;
        }
      }

      .filter-option-detail-image {
        height: 6rem;
        widtH: 5rem;
      }
    }

    .filter-option-detail-outer.selected {
      .filter-option-detail-image {
        background: #94c11f
      }
    }
  }
}
