orderhistory-infowindow {
  .infowindow-order-history-order-outer {
    margin: 1rem 0;
  }

  .infowindow-order-history-order-inner {
    border-radius: 0.4rem;
  }
  .infowindow-order-history-order-date-inner {
    color: grey;
    font-size: smaller;
    font-style: italic;
  }
  .infowindow-order-history-order-status-inner {
    font-weight: bold;
    text-align: right;
  }
  .infowindow-order-history-order-name-inner {
    font-size: larger;
  }
  .infowindow-order-history-order-price-inner {
    text-align: right;
  }

  .infowindow-tab-order-history-outer {
    height: 100%;
    overflow: scroll;
  }
}