<ion-grid (swipeleft)="swipeEvent($event)" (swiperight)="swipeEvent($event)">
  <infowindow-tabs-header [(tabList)]="tabList" [(current)]="currentTab" prefix="orderHistory" [autoHide]="false"
    (close)="closeInfowindow()" (jumpTo)="jumpTo($event)">
  </infowindow-tabs-header>

  <ion-row class="infowindow-tab-content-outer" [style.width.vw]="tabList.length * 100" [style.left.vw]="(0 - realCurrentTab) * 100 " [style.height.px]="bodyHeight.max">
    <ion-col col-12 class="infowindow-tab-content-inner">
    
      <ion-row #orderHistoryTab class="infowindow-tab-outer infowindow-tab-order-history-outer" *ngIf="getTab('orderHistory').condition()">
        <ion-col col-12 class="infowindow-tab-inner infowinfowindow-tab-loading" *ngIf="getTab('orderHistory').loading()">
          <img [src]="loadingImage">
          {{ errorMessage }}
        </ion-col>
        <ion-col col-12 class="infowindow-tab-inner infowindow-tab-order-history-inner" *ngIf="!getTab('orderHistory').loading()">
          <ion-row class="infowindow-content-outer">
            <ion-col col-12 class="infowindow-content-inner">
              <ion-row class="infowindow-order-history-title-outer">
                <ion-col col-12 class="infowindow-order-history-title-inner">
                  {{ 'ORDERHISTORY.TAB.TITLE' | translate }}
                </ion-col>
              </ion-row>
              <ion-row class="infowindow-order-history-description-outer">
                <ion-col col-12 class="infowindow-order-history-description-inner">
                  {{ 'ORDERHISTORY.TAB.DESCRIPTION' | translate }}
                </ion-col>
              </ion-row>
              <ion-row class="infowindow-order-history-list-outer">
                <ion-col class="infowindow-order-history-list-inner">
                  <ng-container *ngFor="let order of orders">
                    <ion-row class="infowindow-order-history-order-outer">
                      <ion-col col-12 class="infowindow-order-history-order-inner shadow">
                        <ion-row>
                          <ion-col col-6 class="infowindow-order-history-order-name-inner">
                            {{ order.name }}
                          </ion-col>
                          <ion-col col-2 class="infowindow-order-history-order-price-inner">
                            {{ order.totalPriceString }} &euro;
                          </ion-col>
                          <ion-col col-4 class="infowindow-order-history-order-status-inner">
                            {{ 'ORDER.STATUS.' + order.currentStatus | translate }}
                          </ion-col>
                        </ion-row>
                        <ion-row>
                          <ion-col class="infowindow-order-history-order-date-inner">
                            {{ order.creationDateString }}
                          </ion-col>
                        </ion-row>
                      </ion-col>
                    </ion-row>
                  </ng-container>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>

          <ion-row class="infowindow-internal-buttons-outer">
            <ion-col col-4 class="infowindow-internal-buttons-inner">
            </ion-col>
            <ion-col col-4 class="infowindow-internal-buttons-inner">
            </ion-col>
            <ion-col col-4 class="infowindow-internal-buttons-inner">
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>

    </ion-col>
  </ion-row>
</ion-grid>