<div id="homekeyboard">
  <ion-grid>
    <ion-row>
      <ion-col col-12>{{ 'PLEASE_INSERT_SOC' | translate }}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-4 (click)="keyboardAdd('1')"><div class="number-button">1</div></ion-col>
      <ion-col col-4 (click)="keyboardAdd('2')"><div class="number-button">2</div></ion-col>
      <ion-col col-4 (click)="keyboardAdd('3')"><div class="number-button">3</div></ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-4 (click)="keyboardAdd('4')"><div class="number-button">4</div></ion-col>
      <ion-col col-4 (click)="keyboardAdd('5')"><div class="number-button">5</div></ion-col>
      <ion-col col-4 (click)="keyboardAdd('6')"><div class="number-button">6</div></ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-4 (click)="keyboardAdd('7')"><div class="number-button">7</div></ion-col>
      <ion-col col-4 (click)="keyboardAdd('8')"><div class="number-button">8</div></ion-col>
      <ion-col col-4 (click)="keyboardAdd('9')"><div class="number-button">9</div></ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-4 (click)="keyboardAdd('.')"><div class="number-button special">.</div></ion-col>
      <ion-col col-4 (click)="keyboardAdd('0')"><div class="number-button">0</div></ion-col>
      <ion-col col-4 (click)="keyboardDelete()">
        <div class="number-button special"><ion-icon name="backspace"></ion-icon></div>
      </ion-col>
    </ion-row>

    <ion-row id="soc-row">
      <ion-col col-8>
        <div id="soc">{{ value }}</div>
      </ion-col>
      <ion-col col-4>
        <div class="number-button" id="percentage">%</div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12>
        <span *ngIf="!valid()" class="danger">
          {{ 'SOC_NOT_VALID' | translate }}
        </span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12>
        <button ion-button outline full id="confirm" (click)="save()">OK</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
