keypad {
  display: block;
  #homekeyboard {
    display: block;
    position: absolute;
    bottom: 200px;
    left: 100px;
    z-index: 1000;
    background: #f4f4f4;
    border-radius: 10px;
    border: 1px solid #9f9f9f;
    padding: 10px 20px;
    color: #000000;

    ion-col {
      padding: 1px;
    }

    .number-button {
      background: #ffffff;
      border-radius: 5px;
      margin: 1px;
      height: 30px;
      line-height: 30px;
      width: calc(#{30px} * 2);
      text-align: center;
      font-size: 1.4em;
    }

    .special {
      background: #9f9f9f;
    }

    #soc-row {
      margin: 20px 0 10px 0;

      #soc {
        display: block;
        width: 100%;
        height: 100%;
        background: #ffffff;
        text-align: left;
        padding-left: 10px;
        border-radius: 5px 0 0 5px;
        border-right: 1px solid #9f9f9f;
      }
      #percentage {
        border-radius: 0 5px 5px 0;
        margin: 0;
      }
    }

    #confirm {
      color: #000000;
      border: 0;
    }
  }
}
