<ion-row class="searchbar-container-outer">
  <ion-col size="12" class="searchbar-container-inner">
    <ion-row class="searchbar-input-outer">
      <ion-col size="12" class="searchbar-input-inner">
        <ion-searchbar
          [(ngModel)]="autocomplete"
          (ionInput)="updateSearch()"
          (search)="chooseLocation(autocomplete)"
          placeholder="{{ 'SEARCH_BOX' | translate }}"
          id="searchBox">
        </ion-searchbar>
      </ion-col>
    </ion-row>
    <ion-row class="searchbar-predictions searchbar-predictions-favourites-outer" *ngIf="autocomplete && suggestions.favourites.length">
      <ion-col size="12" class="searchbar-predictions-favourites-inner">
        <ng-container *ngFor="let favourite of suggestions.favourites">
          <ion-row class="prediction-outer favourite-prediction-outer" (click)="chooseFavourite(favourite)">
            <ion-col size="1" class="prediction-icon-outer prediction-favourite-icon-outer">
              <ng-container [ngSwitch]="favourite.name.toUpperCase()">
                <img class="home-icon" *ngSwitchCase="'HOME'" src="./assets/img/general/home.svg">
                <img class="work-icon" *ngSwitchCase="'WORK'" src="./assets/img/general/briefcase.svg">
                <img class="favourite-icon" *ngSwitchDefault src="./assets/img/general/favourite.svg">
              </ng-container>
            </ion-col>
            <ion-col size="11" class="prediction-favourite-name-outer">
              <span class="prediction-name-inner">{{ favourite.name }}</span>:
              <span class="prediction-address-inner"> {{ favourite.address }}</span>
            </ion-col>
          </ion-row>
        </ng-container>
      </ion-col>
    </ion-row>

    <ion-row class="searchbar-predictions searchbar-predictions-places-outer" *ngIf="autocomplete && suggestions.places.length">
      <ion-col size="12" class="searchbar-predictions-places-inner">
        <ng-container *ngFor="let place of suggestions.places">
          <ion-row class="prediction-outer favourite-prediction-outer" (click)="chooseLocation(place)">
            <ion-col size="1" class="prediction-icon-outer prediction-place-icon-outer">
              <img class="globe-icon" src="./assets/img/general/globe.svg">
            </ion-col>
            <ion-col size="11" class="prediction-place-name-outer">
              <span class="prediction-place-address-inner"> {{ place }}</span>
            </ion-col>
          </ion-row>
        </ng-container>
      </ion-col>
    </ion-row>
  </ion-col>
</ion-row>
<ion-row class="favourites-labels-outer" *ngIf="!autocomplete && showFavouritesLabels && favouriteLocations && favouriteLocations.length">
  <ion-col size="12" class="favourites-labels-inner">
    <ng-container *ngFor="let favourite of favouriteLocations">
      <span class="favourite-label shadow" (click)="chooseFavouriteLocation(favourite)">
        <ng-container [ngSwitch]="favourite.name.toUpperCase()">
          <img class="home-icon" *ngSwitchCase="'HOME'" src="./assets/img/general/home.svg">
          <img class="work-icon" *ngSwitchCase="'WORK'" src="./assets/img/general/briefcase.svg">
          <img class="favourite-icon" *ngSwitchDefault src="./assets/img/general/favourite.svg">
        </ng-container>
        <span class="favourite-label-name">
          {{ favourite.name }}
        </span>
      </span>
    </ng-container>
  </ion-col>
</ion-row>
<ion-row class="favourites-labels-outer" *ngIf="!autocomplete && showFavouritesLabels && favouriteStations && favouriteStations.length">
  <ion-col size="12" class="favourites-labels-inner">
    <ng-container *ngFor="let favourite of favouriteStations">
      <span class="favourite-label shadow" (click)="chooseFavouriteStation(favourite)">
        <ng-container [ngSwitch]="favourite.providerName.toUpperCase()">
          <img class="home-icon" *ngSwitchCase="'HOME'" src="./assets/img/general/home.svg">
          <img class="work-icon" *ngSwitchCase="'WORK'" src="./assets/img/general/briefcase.svg">
          <img class="favourite-icon" *ngSwitchDefault src="./assets/img/general/favourite.svg">
        </ng-container>
        <span class="favourite-label-name">
          {{ favourite.providerName }}
        </span>
      </span>
    </ng-container>
  </ion-col>
</ion-row>
