:host > ion-row > ion-col {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
:host > ion-row > ion-col:first-child {
  padding-left: 1rem;
}
:host > ion-row > ion-col:last-child {
  padding-right: 1rem;
}

:host {
  display: block;
  padding: 0;

  .searchbar-container-inner > ion-row {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  }

  .searchbar-input-container > button, .searchbar-input-container > input {
    border-radius: 0;
  }

  .searchbar-container-inner {
    .prediction-name-inner {
      font-weight: bold;
    }

    .searchbar-predictions {
      background: white;
    }

    ion-row:first-child {
      overflow: hidden;
      border-top-left-radius: 2rem;
      border-top-right-radius: 2rem;

      ion-col > .searchbar {
        overflow: hidden;
        border-radius: 2rem 2rem 0 0;
      }
    }

    ion-row:last-child {
      overflow: hidden;
      border-bottom-left-radius: 2rem;
      border-bottom-right-radius: 2rem;

      ion-col > .searchbar {
        overflow: hidden;
        border-bottom-left-radius: 2rem;
        border-bottom-right-radius: 2rem;
      }
    }
  }

  .searchbar-input-inner {
    padding: 0;
  }


  .favourites-labels-inner {
    white-space: nowrap;
    overflow: scroll;
  }

  .favourite-label {
    padding: 1px 7px;
    background: lightgray;
    border-radius: 20px;
    font-size: 1em;
    font-weight: bold;
    color: black;
    margin: 0 3px;
    display: inline-flex;
    align-items: center;

    img {
      height: 1.3rem;
      margin-right: 0.2rem;
    }

    .favourite-label-name::before {
      content: ' |';
      font-weight: initial;
      color: white;
      font-size: 1.2em;
      padding: 0 0.2rem;
    }
  }
}
