infowindow {
  cars-infowindow.hidden,
  charge-infowindow.hidden,
  favourites-infowindow.hidden,
  location-infowindow.hidden,
  orderhistory-infowindow.hidden,
  profile-infowindow.hidden,
  station-infowindow.hidden { visibility: hidden; }

  cars-infowindow.hidden > *,
  charge-infowindow.hidden > *,
  favourites-infowindow.hidden > *,
  location-infowindow.hidden > *,
  orderhistory-infowindow.hidden > *,
  profile-infowindow.hidden > *,
  station-infowindow.hidden > * { display: none; }

  .infowindow-tab-content-inner,
  .infowindow-tab-station-general-inner,
  .infowindow-location-address-outer,
  .infowindow-location-detailed-address-inner,
  .infowindow-chargers-inner,
  .infowindow-favourite-detailed-address-inner,
  .infowindow-content-inner,
  .infowindow-component-container-inner {
    padding: 0;
  }

  .infowindow-tab-content-inner {
    position: relative;
    display: flex;
    height: 100%;
  }

  .infowindow-tab-content-outer {
    position: relative;
    transition: left 0.3s;
    overflow: hidden;
  }

  .infowindow-tab-outer {
    width: 100vw;
    height: fit-content;
    overflow: hidden;

    .infowindow-tab-inner {
      padding: 0 1rem 1rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  .infowinfowindow-tab-loading {
    height: 20rem;
    padding: 6rem 0 !important;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;

    img {
      height: 8rem;
      width: 8rem;
      margin: 0 auto;
    }
  }

  .validation-error {
    display: block;
    font-size: 1rem;
    line-height: 1rem;
    color: #f53d3d;
    font-style: italic;
  }
  .validation-error.hidden {
    visibility: hidden;
  }

  // INFOWINDOW INTERNAL BUTTONS
  .infowindow-internal-buttons-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;

    .infowindow-internal-button-image {
      height: 4rem;
      width: 4rem;
      border-radius: 2rem;
      padding: 1rem;
    }

    .infowindow-internal-button-text {
      text-align: center;
    }
  }

  .infowindow-internal-buttons-inner.change-password,
  .infowindow-internal-buttons-inner.navigate,
  .infowindow-internal-buttons-inner.calculate-rates,
  .infowindow-internal-buttons-inner.confirm-profile,
  .infowindow-internal-buttons-inner.send-code,
  .infowindow-internal-buttons-inner.pay,
  .infowindow-internal-buttons-inner.go-to-profile {
    .infowindow-internal-button-image {
      background: #579ABE;
    }
    .infowindow-internal-button-text {
      color: #579ABE;
    }
  }

  .infowindow-internal-buttons-inner.edit,
  .infowindow-internal-buttons-inner.ok {
    .infowindow-internal-button-image {
      background: #94c11f;
    }
    .infowindow-internal-button-text {
      color: #94c11f;
    }
  }

  .infowindow-internal-buttons-inner.remove,
  .infowindow-internal-buttons-inner.abort,
  .infowindow-internal-buttons-inner.close {
    .infowindow-internal-button-image {
      background: #C23B23;
    }
    .infowindow-internal-button-text {
      color: #C23B23;
    }
  }

  .infowindow-internal-buttons-inner.default,
  .infowindow-internal-buttons-inner.save,
  .infowindow-internal-buttons-inner.confirm,
  .infowindow-internal-buttons-inner.favourite,
  .infowindow-internal-buttons-inner.qr-code {
    .infowindow-internal-button-image {
      background: #EADA52;
    }
    .infowindow-internal-button-text {
      color: #EADA52;
    }
  }
}