<cars-infowindow
  [ngClass]="type === 'cars' ? 'visible' : 'hidden'"
  [(cars)]="user.cars"
  [(systemCars)]="systemCars"
  [(systemPlugs)]="systemPlugs"
  [(stateOfCharge)]="stateOfCharge"
  (stateOfChargeClick)="toggleKeyboard.emit()"
  (collapse)="collapse.emit()"
  (remove)="removeCar.emit($event)"
  (save)="saveCar.emit($event)"
  (setAsDefault)="setDefaultCar.emit($event)">
</cars-infowindow>

<charge-infowindow
  [ngClass]="type === 'charge' ? 'visible' : 'hidden'"
  [(activeTransaction)]="activeTransaction"
  (getChargeDetail)="getChargeDetail.emit($event)"
  (requestEchargeOrder)="requestEchargeOrder.emit($event)"
  (payOrder)="payOrder.emit($event)"
  (requestStopCharge)="requestStopCharge.emit($event)"
  (payOrderWebDropIn)="payOrderWebDropIn.emit($event)"
  (payOrderWithTerminal)="payOrderWithTerminal.emit($event)"
  (close)="closeInfowindow()">
</charge-infowindow>

<favourites-infowindow
  [ngClass]="type === 'favourite' ? 'visible' : 'hidden'"
  [(favourites)]="user.favourites"
  (save)="saveFavouriteLocation.emit($event)"
  (remove)="removeFavouriteLocation.emit($event)"
  (close)="closeInfowindow()">
</favourites-infowindow>

<location-infowindow
  [ngClass]="type === 'location' ? 'visible' : 'hidden'"
  (setAsFavourite)="pushLocationToFavourites($event)"
  (close)="closeInfowindow()">
</location-infowindow>

<orderhistory-infowindow
  [ngClass]="type === 'orderHistory' ? 'visible' : 'hidden'"
  [(orders)]="orders"
  (close)="closeInfowindow()">
</orderhistory-infowindow>

<profile-infowindow
  [(user)]="user"
  [ngClass]="type === 'profile' ? 'visible': 'hidden'"
  (changePassword)="changePassword.emit($event)"
  (confirmProfile)="confirmProfile.emit($event)"
  (logout)="logout.emit()"
  (save)="updateUser.emit($event)"
  (newConfirmationCode)="newConfirmationCode.emit()"
  (close)="closeInfowindow()">
</profile-infowindow>

<station-infowindow
  [ngClass]="type === 'station' ? 'visible': 'hidden'"
  (getStationGuns)="getStationGuns.emit($event)"
  (save)="saveFavouriteStation.emit($event)"
  (remove)="removeFavouriteStation.emit($event)"
  (selectCharger)="pushEvseToCharge($event)"
  (close)="closeInfowindow()"
  [(canUserCharge)]="user.defaultCar && user.defaultCar.plugs && user.defaultCar.plugs.length">
</station-infowindow>
