charge-infowindow {
  .segment {
    background: #e4e4e7;
    height: 3rem;
    border-radius: 1rem;
    padding: 0.2rem;

    .segment-button {
      font-weight: bold;
      border: 0;
      height: 2.6rem;
      line-height: 2.6rem;
      border-radius: 1rem;

      img {
        height: 2rem;
        margin: 0.3rem 0;
      }
    }

    .segment-activated {
      background: #94c11f;
      color: white !important;
    }
  }

  .infowindow-charge-status-charger-stats-outer {
    font-size: 2rem;
    margin: 1rem 0;

    .infowindow-charge-status-charger-stats-current-value,
    .infowindow-charge-status-charger-stats-time-value {
      text-align: center;
      width: 100%;
    }
  }

  .infowindow-order-preview-product-descrption-description-inner {
    font-size: smaller;
    font-weight: normal;
    font-style: italic;
  }

  .infowindow-order-preview-product-description-inner.charging-time {
    input {
      margin: 0;
      width: 1.5rem;
    }
  }
  .infowindow-order-preview-product-price-inner.charging-time {
    background: #94c11f;
    border-radius: 0.2rem;
    padding: 0.1rem;
    color: white;
    img {
      height: 1.3rem;
    }
  }

  .infowindow-order-preview-element-inner.selected {
    background: rgba(148, 193, 31, 0.5);
  }

  .infowindow-order-preview-element-inner {
    margin: 1rem 0;
    padding: 1rem;
    display: flex;
    border-radius: 1rem;
    border: 0.2rem solid #94c11f;

    input {
      margin-top: -1px;
      vertical-align: middle;
      width: auto;
      margin-right: 1rem;
    }

    input[type="radio"] {
      display: none;
    }
    label {
      font-size: 1.4rem;
      flex-grow: 1.2;

      .infowindow-order-preview-product-price-inner {
        float: right;
      }
    }
  }

  .infowindow-internal-buttons-inner.close {
    visibility: visible !important;
  }
  label {
    font-size: 1.1rem;
    font-weight: bold;
  }

  input, select {
    height: 2.2rem;
    padding: 0;
    border: none;
    background: none;
    border-bottom: 1px solid #94c11f;
    width: 100%;
  }

  select.ng-invalid.ng-touched, select.invalid.ng-touched,
  input.ng-invalid.ng-touched, input.invalid.ng-touched {
    border-bottom: 1px solid #f53d3d;
  }

  .progress-circle-container-outer {
    width: 100%;
  }
  .progress-circle-container-inner {
    margin: 0 auto;
  }

  .progress-circle {
    background-color: #484851;
    border-radius: 50%;
    display: inline-block;
    height: 22rem;
    width: 22rem;
    position: relative;
  }

  .progress-circle:before {
    -webkit-box-align: center;
    align-items: center;
    background-color: white;
    color: #94c11f;
    border-radius: 50%;
    content: attr(data-progress) '%';
    display: -webkit-box;
    display: flex;
    font-size: 5rem;
    -webkit-box-pack: center;
    justify-content: center;
    position: absolute;
    left: 1rem;
    right: 1rem;
    top: 1rem;
    bottom: 1rem;
    -webkit-transition: -webkit-transform 0.2s ease;
    transition: -webkit-transform 0.2s ease;
    transition: transform 0.2s ease;
    transition: transform 0.2s ease, -webkit-transform 0.2s ease;
  }

  .progress-circle:after {
    background-color: #94c11f;
    border-radius: 50%;
    content: '';
    display: inline-block;
    height: 100%;
    width: 100%;
  }
  .progress-circle:hover:before,
  .progress-circle:focus:before {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  /**
  * $step is set to 5 by default, meaning you can only use percentage classes in increments of five (e.g. 25, 30, 45, 50, and so on). This helps to reduce the size of the final CSS file. If you need a number that doesn't end in 0 or 5, you can change the text percentage while rounding the class up/down to the nearest 5.
  */
  .progress-circle[data-progress="0"]:after {
    background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, #484851), color-stop(50%, transparent), to(transparent)), -webkit-gradient(linear, left top, right top, color-stop(50%, #94c11f), color-stop(50%, #484851), to(#484851));
    background-image: linear-gradient(90deg, #484851 50%, transparent 50%, transparent), linear-gradient(90deg, #94c11f 50%, #484851 50%, #484851);
  }
  .progress-circle[data-progress="1"]:after {
    background-image: linear-gradient(90deg, #484851 50%, transparent 50%, transparent), linear-gradient(93.6deg, #94c11f 50%, #484851 50%, #484851);
  }
  .progress-circle[data-progress="2"]:after {
    background-image: linear-gradient(90deg, #484851 50%, transparent 50%, transparent), linear-gradient(97.2deg, #94c11f 50%, #484851 50%, #484851);
  }
  .progress-circle[data-progress="3"]:after {
    background-image: linear-gradient(90deg, #484851 50%, transparent 50%, transparent), linear-gradient(100.8deg, #94c11f 50%, #484851 50%, #484851);
  }
  .progress-circle[data-progress="4"]:after {
    background-image: linear-gradient(90deg, #484851 50%, transparent 50%, transparent), linear-gradient(104.4deg, #94c11f 50%, #484851 50%, #484851);
  }
  .progress-circle[data-progress="5"]:after {
    background-image: linear-gradient(90deg, #484851 50%, transparent 50%, transparent), linear-gradient(108deg, #94c11f 50%, #484851 50%, #484851);
  }
  .progress-circle[data-progress="6"]:after {
    background-image: linear-gradient(90deg, #484851 50%, transparent 50%, transparent), linear-gradient(111.6deg, #94c11f 50%, #484851 50%, #484851);
  }
  .progress-circle[data-progress="7"]:after {
    background-image: linear-gradient(90deg, #484851 50%, transparent 50%, transparent), linear-gradient(115.2deg, #94c11f 50%, #484851 50%, #484851);
  }
  .progress-circle[data-progress="8"]:after {
    background-image: linear-gradient(90deg, #484851 50%, transparent 50%, transparent), linear-gradient(118.8deg, #94c11f 50%, #484851 50%, #484851);
  }
  .progress-circle[data-progress="9"]:after {
    background-image: linear-gradient(90deg, #484851 50%, transparent 50%, transparent), linear-gradient(122.4deg, #94c11f 50%, #484851 50%, #484851);
  }
  .progress-circle[data-progress="10"]:after {
    background-image: linear-gradient(90deg, #484851 50%, transparent 50%, transparent), linear-gradient(126deg, #94c11f 50%, #484851 50%, #484851);
  }
  .progress-circle[data-progress="11"]:after {
    background-image: linear-gradient(90deg, #484851 50%, transparent 50%, transparent), linear-gradient(129.6deg, #94c11f 50%, #484851 50%, #484851);
  }
  .progress-circle[data-progress="12"]:after {
    background-image: linear-gradient(90deg, #484851 50%, transparent 50%, transparent), linear-gradient(133.2deg, #94c11f 50%, #484851 50%, #484851);
  }
  .progress-circle[data-progress="13"]:after {
    background-image: linear-gradient(90deg, #484851 50%, transparent 50%, transparent), linear-gradient(136.8deg, #94c11f 50%, #484851 50%, #484851);
  }
  .progress-circle[data-progress="14"]:after {
    background-image: linear-gradient(90deg, #484851 50%, transparent 50%, transparent), linear-gradient(140.4deg, #94c11f 50%, #484851 50%, #484851);
  }
  .progress-circle[data-progress="15"]:after {
    background-image: linear-gradient(90deg, #484851 50%, transparent 50%, transparent), linear-gradient(144deg, #94c11f 50%, #484851 50%, #484851);
  }
  .progress-circle[data-progress="16"]:after {
    background-image: linear-gradient(90deg, #484851 50%, transparent 50%, transparent), linear-gradient(147.6deg, #94c11f 50%, #484851 50%, #484851);
  }
  .progress-circle[data-progress="17"]:after {
    background-image: linear-gradient(90deg, #484851 50%, transparent 50%, transparent), linear-gradient(151.2deg, #94c11f 50%, #484851 50%, #484851);
  }
  .progress-circle[data-progress="18"]:after {
    background-image: linear-gradient(90deg, #484851 50%, transparent 50%, transparent), linear-gradient(154.8deg, #94c11f 50%, #484851 50%, #484851);
  }
  .progress-circle[data-progress="19"]:after {
    background-image: linear-gradient(90deg, #484851 50%, transparent 50%, transparent), linear-gradient(158.4deg, #94c11f 50%, #484851 50%, #484851);
  }
  .progress-circle[data-progress="20"]:after {
    background-image: linear-gradient(90deg, #484851 50%, transparent 50%, transparent), linear-gradient(162deg, #94c11f 50%, #484851 50%, #484851);
  }
  .progress-circle[data-progress="21"]:after {
    background-image: linear-gradient(90deg, #484851 50%, transparent 50%, transparent), linear-gradient(165.60000000000002deg, #94c11f 50%, #484851 50%, #484851);
  }
  .progress-circle[data-progress="22"]:after {
    background-image: linear-gradient(90deg, #484851 50%, transparent 50%, transparent), linear-gradient(169.2deg, #94c11f 50%, #484851 50%, #484851);
  }
  .progress-circle[data-progress="23"]:after {
    background-image: linear-gradient(90deg, #484851 50%, transparent 50%, transparent), linear-gradient(172.8deg, #94c11f 50%, #484851 50%, #484851);
  }
  .progress-circle[data-progress="24"]:after {
    background-image: linear-gradient(90deg, #484851 50%, transparent 50%, transparent), linear-gradient(176.4deg, #94c11f 50%, #484851 50%, #484851);
  }
  .progress-circle[data-progress="25"]:after {
    background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, #484851), color-stop(50%, transparent), to(transparent)), -webkit-gradient(linear, left top, left bottom, color-stop(50%, #94c11f), color-stop(50%, #484851), to(#484851));
    background-image: linear-gradient(90deg, #484851 50%, transparent 50%, transparent), linear-gradient(180deg, #94c11f 50%, #484851 50%, #484851);
  }
  .progress-circle[data-progress="26"]:after {
    background-image: linear-gradient(90deg, #484851 50%, transparent 50%, transparent), linear-gradient(183.60000000000002deg, #94c11f 50%, #484851 50%, #484851);
  }
  .progress-circle[data-progress="27"]:after {
    background-image: linear-gradient(90deg, #484851 50%, transparent 50%, transparent), linear-gradient(187.2deg, #94c11f 50%, #484851 50%, #484851);
  }
  .progress-circle[data-progress="28"]:after {
    background-image: linear-gradient(90deg, #484851 50%, transparent 50%, transparent), linear-gradient(190.8deg, #94c11f 50%, #484851 50%, #484851);
  }
  .progress-circle[data-progress="29"]:after {
    background-image: linear-gradient(90deg, #484851 50%, transparent 50%, transparent), linear-gradient(194.4deg, #94c11f 50%, #484851 50%, #484851);
  }
  .progress-circle[data-progress="30"]:after {
    background-image: linear-gradient(90deg, #484851 50%, transparent 50%, transparent), linear-gradient(198deg, #94c11f 50%, #484851 50%, #484851);
  }
  .progress-circle[data-progress="31"]:after {
    background-image: linear-gradient(90deg, #484851 50%, transparent 50%, transparent), linear-gradient(201.60000000000002deg, #94c11f 50%, #484851 50%, #484851);
  }
  .progress-circle[data-progress="32"]:after {
    background-image: linear-gradient(90deg, #484851 50%, transparent 50%, transparent), linear-gradient(205.2deg, #94c11f 50%, #484851 50%, #484851);
  }
  .progress-circle[data-progress="33"]:after {
    background-image: linear-gradient(90deg, #484851 50%, transparent 50%, transparent), linear-gradient(208.8deg, #94c11f 50%, #484851 50%, #484851);
  }
  .progress-circle[data-progress="34"]:after {
    background-image: linear-gradient(90deg, #484851 50%, transparent 50%, transparent), linear-gradient(212.4deg, #94c11f 50%, #484851 50%, #484851);
  }
  .progress-circle[data-progress="35"]:after {
    background-image: linear-gradient(90deg, #484851 50%, transparent 50%, transparent), linear-gradient(216deg, #94c11f 50%, #484851 50%, #484851);
  }
  .progress-circle[data-progress="36"]:after {
    background-image: linear-gradient(90deg, #484851 50%, transparent 50%, transparent), linear-gradient(219.6deg, #94c11f 50%, #484851 50%, #484851);
  }
  .progress-circle[data-progress="37"]:after {
    background-image: linear-gradient(90deg, #484851 50%, transparent 50%, transparent), linear-gradient(223.20000000000002deg, #94c11f 50%, #484851 50%, #484851);
  }
  .progress-circle[data-progress="38"]:after {
    background-image: linear-gradient(90deg, #484851 50%, transparent 50%, transparent), linear-gradient(226.8deg, #94c11f 50%, #484851 50%, #484851);
  }
  .progress-circle[data-progress="39"]:after {
    background-image: linear-gradient(90deg, #484851 50%, transparent 50%, transparent), linear-gradient(230.4deg, #94c11f 50%, #484851 50%, #484851);
  }
  .progress-circle[data-progress="40"]:after {
    background-image: linear-gradient(90deg, #484851 50%, transparent 50%, transparent), linear-gradient(234deg, #94c11f 50%, #484851 50%, #484851);
  }
  .progress-circle[data-progress="41"]:after {
    background-image: linear-gradient(90deg, #484851 50%, transparent 50%, transparent), linear-gradient(237.6deg, #94c11f 50%, #484851 50%, #484851);
  }
  .progress-circle[data-progress="42"]:after {
    background-image: linear-gradient(90deg, #484851 50%, transparent 50%, transparent), linear-gradient(241.20000000000002deg, #94c11f 50%, #484851 50%, #484851);
  }
  .progress-circle[data-progress="43"]:after {
    background-image: linear-gradient(90deg, #484851 50%, transparent 50%, transparent), linear-gradient(244.8deg, #94c11f 50%, #484851 50%, #484851);
  }
  .progress-circle[data-progress="44"]:after {
    background-image: linear-gradient(90deg, #484851 50%, transparent 50%, transparent), linear-gradient(248.4deg, #94c11f 50%, #484851 50%, #484851);
  }
  .progress-circle[data-progress="45"]:after {
    background-image: linear-gradient(90deg, #484851 50%, transparent 50%, transparent), linear-gradient(252deg, #94c11f 50%, #484851 50%, #484851);
  }
  .progress-circle[data-progress="46"]:after {
    background-image: linear-gradient(90deg, #484851 50%, transparent 50%, transparent), linear-gradient(255.6deg, #94c11f 50%, #484851 50%, #484851);
  }
  .progress-circle[data-progress="47"]:after {
    background-image: linear-gradient(90deg, #484851 50%, transparent 50%, transparent), linear-gradient(259.20000000000005deg, #94c11f 50%, #484851 50%, #484851);
  }
  .progress-circle[data-progress="48"]:after {
    background-image: linear-gradient(90deg, #484851 50%, transparent 50%, transparent), linear-gradient(262.8deg, #94c11f 50%, #484851 50%, #484851);
  }
  .progress-circle[data-progress="49"]:after {
    background-image: linear-gradient(90deg, #484851 50%, transparent 50%, transparent), linear-gradient(266.4deg, #94c11f 50%, #484851 50%, #484851);
  }
  .progress-circle[data-progress="50"]:after {
    background-image: -webkit-gradient(linear, right top, left top, color-stop(50%, #94c11f), color-stop(50%, transparent), to(transparent)), -webkit-gradient(linear, right top, left top, color-stop(50%, #94c11f), color-stop(50%, #484851), to(#484851));
    background-image: linear-gradient(-90deg, #94c11f 50%, transparent 50%, transparent), linear-gradient(270deg, #94c11f 50%, #484851 50%, #484851);
  }
  .progress-circle[data-progress="51"]:after {
    background-image: linear-gradient(-86.4deg, #94c11f 50%, transparent 50%, transparent), linear-gradient(270deg, #94c11f 50%, #484851 50%, #484851);
  }
  .progress-circle[data-progress="52"]:after {
    background-image: linear-gradient(-82.8deg, #94c11f 50%, transparent 50%, transparent), linear-gradient(270deg, #94c11f 50%, #484851 50%, #484851);
  }
  .progress-circle[data-progress="53"]:after {
    background-image: linear-gradient(-79.2deg, #94c11f 50%, transparent 50%, transparent), linear-gradient(270deg, #94c11f 50%, #484851 50%, #484851);
  }
  .progress-circle[data-progress="54"]:after {
    background-image: linear-gradient(-75.6deg, #94c11f 50%, transparent 50%, transparent), linear-gradient(270deg, #94c11f 50%, #484851 50%, #484851);
  }
  .progress-circle[data-progress="55"]:after {
    background-image: linear-gradient(-72deg, #94c11f 50%, transparent 50%, transparent), linear-gradient(270deg, #94c11f 50%, #484851 50%, #484851);
  }
  .progress-circle[data-progress="56"]:after {
    background-image: linear-gradient(-68.4deg, #94c11f 50%, transparent 50%, transparent), linear-gradient(270deg, #94c11f 50%, #484851 50%, #484851);
  }
  .progress-circle[data-progress="57"]:after {
    background-image: linear-gradient(-64.8deg, #94c11f 50%, transparent 50%, transparent), linear-gradient(270deg, #94c11f 50%, #484851 50%, #484851);
  }
  .progress-circle[data-progress="58"]:after {
    background-image: linear-gradient(-61.2deg, #94c11f 50%, transparent 50%, transparent), linear-gradient(270deg, #94c11f 50%, #484851 50%, #484851);
  }
  .progress-circle[data-progress="59"]:after {
    background-image: linear-gradient(-57.6deg, #94c11f 50%, transparent 50%, transparent), linear-gradient(270deg, #94c11f 50%, #484851 50%, #484851);
  }
  .progress-circle[data-progress="60"]:after {
    background-image: linear-gradient(-54deg, #94c11f 50%, transparent 50%, transparent), linear-gradient(270deg, #94c11f 50%, #484851 50%, #484851);
  }
  .progress-circle[data-progress="61"]:after {
    background-image: linear-gradient(-50.4deg, #94c11f 50%, transparent 50%, transparent), linear-gradient(270deg, #94c11f 50%, #484851 50%, #484851);
  }
  .progress-circle[data-progress="62"]:after {
    background-image: linear-gradient(-46.8deg, #94c11f 50%, transparent 50%, transparent), linear-gradient(270deg, #94c11f 50%, #484851 50%, #484851);
  }
  .progress-circle[data-progress="63"]:after {
    background-image: linear-gradient(-43.199999999999996deg, #94c11f 50%, transparent 50%, transparent), linear-gradient(270deg, #94c11f 50%, #484851 50%, #484851);
  }
  .progress-circle[data-progress="64"]:after {
    background-image: linear-gradient(-39.6deg, #94c11f 50%, transparent 50%, transparent), linear-gradient(270deg, #94c11f 50%, #484851 50%, #484851);
  }
  .progress-circle[data-progress="65"]:after {
    background-image: linear-gradient(-36deg, #94c11f 50%, transparent 50%, transparent), linear-gradient(270deg, #94c11f 50%, #484851 50%, #484851);
  }
  .progress-circle[data-progress="66"]:after {
    background-image: linear-gradient(-32.4deg, #94c11f 50%, transparent 50%, transparent), linear-gradient(270deg, #94c11f 50%, #484851 50%, #484851);
  }
  .progress-circle[data-progress="67"]:after {
    background-image: linear-gradient(-28.799999999999997deg, #94c11f 50%, transparent 50%, transparent), linear-gradient(270deg, #94c11f 50%, #484851 50%, #484851);
  }
  .progress-circle[data-progress="68"]:after {
    background-image: linear-gradient(-25.200000000000003deg, #94c11f 50%, transparent 50%, transparent), linear-gradient(270deg, #94c11f 50%, #484851 50%, #484851);
  }
  .progress-circle[data-progress="69"]:after {
    background-image: linear-gradient(-21.599999999999994deg, #94c11f 50%, transparent 50%, transparent), linear-gradient(270deg, #94c11f 50%, #484851 50%, #484851);
  }
  .progress-circle[data-progress="70"]:after {
    background-image: linear-gradient(-18deg, #94c11f 50%, transparent 50%, transparent), linear-gradient(270deg, #94c11f 50%, #484851 50%, #484851);
  }
  .progress-circle[data-progress="71"]:after {
    background-image: linear-gradient(-14.399999999999991deg, #94c11f 50%, transparent 50%, transparent), linear-gradient(270deg, #94c11f 50%, #484851 50%, #484851);
  }
  .progress-circle[data-progress="72"]:after {
    background-image: linear-gradient(-10.799999999999997deg, #94c11f 50%, transparent 50%, transparent), linear-gradient(270deg, #94c11f 50%, #484851 50%, #484851);
  }
  .progress-circle[data-progress="73"]:after {
    background-image: linear-gradient(-7.200000000000003deg, #94c11f 50%, transparent 50%, transparent), linear-gradient(270deg, #94c11f 50%, #484851 50%, #484851);
  }
  .progress-circle[data-progress="74"]:after {
    background-image: linear-gradient(-3.599999999999994deg, #94c11f 50%, transparent 50%, transparent), linear-gradient(270deg, #94c11f 50%, #484851 50%, #484851);
  }
  .progress-circle[data-progress="75"]:after {
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(50%, #94c11f), color-stop(50%, transparent), to(transparent)), -webkit-gradient(linear, right top, left top, color-stop(50%, #94c11f), color-stop(50%, #484851), to(#484851));
    background-image: linear-gradient(0deg, #94c11f 50%, transparent 50%, transparent), linear-gradient(270deg, #94c11f 50%, #484851 50%, #484851);
  }
  .progress-circle[data-progress="76"]:after {
    background-image: linear-gradient(3.600000000000009deg, #94c11f 50%, transparent 50%, transparent), linear-gradient(270deg, #94c11f 50%, #484851 50%, #484851);
  }
  .progress-circle[data-progress="77"]:after {
    background-image: linear-gradient(7.200000000000003deg, #94c11f 50%, transparent 50%, transparent), linear-gradient(270deg, #94c11f 50%, #484851 50%, #484851);
  }
  .progress-circle[data-progress="78"]:after {
    background-image: linear-gradient(10.799999999999997deg, #94c11f 50%, transparent 50%, transparent), linear-gradient(270deg, #94c11f 50%, #484851 50%, #484851);
  }
  .progress-circle[data-progress="79"]:after {
    background-image: linear-gradient(14.400000000000006deg, #94c11f 50%, transparent 50%, transparent), linear-gradient(270deg, #94c11f 50%, #484851 50%, #484851);
  }
  .progress-circle[data-progress="80"]:after {
    background-image: linear-gradient(18deg, #94c11f 50%, transparent 50%, transparent), linear-gradient(270deg, #94c11f 50%, #484851 50%, #484851);
  }
  .progress-circle[data-progress="81"]:after {
    background-image: linear-gradient(21.60000000000001deg, #94c11f 50%, transparent 50%, transparent), linear-gradient(270deg, #94c11f 50%, #484851 50%, #484851);
  }
  .progress-circle[data-progress="82"]:after {
    background-image: linear-gradient(25.200000000000003deg, #94c11f 50%, transparent 50%, transparent), linear-gradient(270deg, #94c11f 50%, #484851 50%, #484851);
  }
  .progress-circle[data-progress="83"]:after {
    background-image: linear-gradient(28.799999999999997deg, #94c11f 50%, transparent 50%, transparent), linear-gradient(270deg, #94c11f 50%, #484851 50%, #484851);
  }
  .progress-circle[data-progress="84"]:after {
    background-image: linear-gradient(32.400000000000006deg, #94c11f 50%, transparent 50%, transparent), linear-gradient(270deg, #94c11f 50%, #484851 50%, #484851);
  }
  .progress-circle[data-progress="85"]:after {
    background-image: linear-gradient(36deg, #94c11f 50%, transparent 50%, transparent), linear-gradient(270deg, #94c11f 50%, #484851 50%, #484851);
  }
  .progress-circle[data-progress="86"]:after {
    background-image: linear-gradient(39.599999999999994deg, #94c11f 50%, transparent 50%, transparent), linear-gradient(270deg, #94c11f 50%, #484851 50%, #484851);
  }
  .progress-circle[data-progress="87"]:after {
    background-image: linear-gradient(43.20000000000002deg, #94c11f 50%, transparent 50%, transparent), linear-gradient(270deg, #94c11f 50%, #484851 50%, #484851);
  }
  .progress-circle[data-progress="88"]:after {
    background-image: linear-gradient(46.80000000000001deg, #94c11f 50%, transparent 50%, transparent), linear-gradient(270deg, #94c11f 50%, #484851 50%, #484851);
  }
  .progress-circle[data-progress="89"]:after {
    background-image: linear-gradient(50.400000000000006deg, #94c11f 50%, transparent 50%, transparent), linear-gradient(270deg, #94c11f 50%, #484851 50%, #484851);
  }
  .progress-circle[data-progress="90"]:after {
    background-image: linear-gradient(54deg, #94c11f 50%, transparent 50%, transparent), linear-gradient(270deg, #94c11f 50%, #484851 50%, #484851);
  }
  .progress-circle[data-progress="91"]:after {
    background-image: linear-gradient(57.599999999999994deg, #94c11f 50%, transparent 50%, transparent), linear-gradient(270deg, #94c11f 50%, #484851 50%, #484851);
  }
  .progress-circle[data-progress="92"]:after {
    background-image: linear-gradient(61.20000000000002deg, #94c11f 50%, transparent 50%, transparent), linear-gradient(270deg, #94c11f 50%, #484851 50%, #484851);
  }
  .progress-circle[data-progress="93"]:after {
    background-image: linear-gradient(64.80000000000001deg, #94c11f 50%, transparent 50%, transparent), linear-gradient(270deg, #94c11f 50%, #484851 50%, #484851);
  }
  .progress-circle[data-progress="94"]:after {
    background-image: linear-gradient(68.4deg, #94c11f 50%, transparent 50%, transparent), linear-gradient(270deg, #94c11f 50%, #484851 50%, #484851);
  }
  .progress-circle[data-progress="95"]:after {
    background-image: linear-gradient(72deg, #94c11f 50%, transparent 50%, transparent), linear-gradient(270deg, #94c11f 50%, #484851 50%, #484851);
  }
  .progress-circle[data-progress="96"]:after {
    background-image: linear-gradient(75.6deg, #94c11f 50%, transparent 50%, transparent), linear-gradient(270deg, #94c11f 50%, #484851 50%, #484851);
  }
  .progress-circle[data-progress="97"]:after {
    background-image: linear-gradient(79.20000000000002deg, #94c11f 50%, transparent 50%, transparent), linear-gradient(270deg, #94c11f 50%, #484851 50%, #484851);
  }
  .progress-circle[data-progress="98"]:after {
    background-image: linear-gradient(82.80000000000001deg, #94c11f 50%, transparent 50%, transparent), linear-gradient(270deg, #94c11f 50%, #484851 50%, #484851);
  }
  .progress-circle[data-progress="99"]:after {
    background-image: linear-gradient(86.4deg, #94c11f 50%, transparent 50%, transparent), linear-gradient(270deg, #94c11f 50%, #484851 50%, #484851);
  }
  .progress-circle[data-progress="100"]:after {
    background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, #94c11f), color-stop(50%, transparent), to(transparent)), -webkit-gradient(linear, right top, left top, color-stop(50%, #94c11f), color-stop(50%, #484851), to(#484851));
    background-image: linear-gradient(90deg, #94c11f 50%, transparent 50%, transparent), linear-gradient(270deg, #94c11f 50%, #484851 50%, #484851);
  }
}
