<ion-grid (swipeleft)="swipeEvent($event)" (swiperight)="swipeEvent($event)">
  <infowindow-tabs-header [(tabList)]="tabList" [(current)]="currentTab" prefix="charge" [autoHide]="false"
    (close)="closeInfowindow()" (jumpTo)="jumpTo($event)">
  </infowindow-tabs-header>

  <ion-row class="infowindow-tab-content-outer" [style.width.vw]="validTabs.length * 100" [style.left.vw]="(0 - realCurrentTab) * 100 " [style.height.px]="bodyHeight.max">
    <ion-col col-12 class="infowindow-tab-content-inner">

      <ion-row #chargeForm class="infowindow-tab-outer infowindow-tab-charge-form" *ngIf="getTab('chargeForm').condition()">
        <ion-col col-12 class="infowindow-tab-inner infowinfowindow-tab-loading" *ngIf="getTab('chargeForm').loading()">
          <img src="./assets/img/loading/infowindow.gif">
        </ion-col>
        <ion-col col-12 class="infowindow-tab-inner infowindow-tab-charge-form-inner" *ngIf="!getTab('chargeForm').loading()">
          <ion-row class="infowindow-content-outer">
            <ion-col col-12 class="infowindow-content-inner">
              <form [formGroup]="chargingForm" class="eloaded-form">
                <ion-row class="infowindow-charger-preview-evse-id-outer">
                  <ion-col col-8 class="infowindow-charger-preview-evse-id-inner">
                    <label class="required">{{ 'EVSE_ID' | translate }}</label>
                    <input type="text" formControlName="evseid" (change)="cd.detectChanges()">
                    <span class="validation-error" [ngClass]="chargingForm.get('evseid').touched && chargingForm.get('evseid').hasError('required') ? 'show' : 'hidden'">
                      {{ 'VALIDATION.EVSE_REQUIRED' | translate }}
                    </span>
                  </ion-col>
                  <ion-col col-4 class="infowindow-charger-preview-soc-inner">
                    <label>{{ 'TARGET_SOC' | translate }}</label>
                    <input type="number" formControlName="targetSoC" (change)="cd.detectChanges()">
                  </ion-col>
                </ion-row>
                <ion-row class="infowindow-charger-preview-parking-time-outer">
                  <ion-col col-12 class="infowindow-charger-preview-parking-time-outer">
                    <label>{{ 'PARKING_TIME' | translate }}</label>

                    <ion-segment formControlName="current" color="primary" style="flex-wrap: wrap;" (click)="cd.detectChanges()">
                      <ion-segment-button [value]="100">{{ 'PARKING_TIME.SPEED' | translate }}</ion-segment-button>
                      <ion-segment-button [value]="50">00:30 h</ion-segment-button>
                      <ion-segment-button [value]="10">01:00 h</ion-segment-button>
                    </ion-segment>
                  </ion-col>
                </ion-row>
              </form>
            </ion-col>
          </ion-row>

          <ion-row class="infowindow-internal-buttons-outer">
            <ion-col col-4 class="infowindow-internal-buttons-inner" [ngClass]="cameraActive() ? 'close' : 'qr-code'" (click)="cameraActive() ? hideCamera() : scan()">
              <div class="infowindow-internal-button-image shadow">
                <img *ngIf="cameraActive()" src="./assets/img/infowindow-internal-buttons/abort.png">
                <img *ngIf="!cameraActive()" src="./assets/img/infowindow-internal-buttons/qr-code.png">
              </div>
              <div class="infowindow-internal-button-text" *ngIf="cameraActive()">{{ 'CLOSE' | translate }}</div>
              <div class="infowindow-internal-button-text" *ngIf="!cameraActive()">{{ 'SCAN_QR_CODE' | translate }}</div>
            </ion-col>
            <ion-col col-4 class="infowindow-internal-buttons-inner">
            </ion-col>
            <ion-col col-4 class="infowindow-internal-buttons-inner calculate-rates" (click)="requestOrder()">
              <div class="infowindow-internal-button-image shadow">
                <img src="./assets/img/infowindow-internal-buttons/calculate_rates.png">
              </div>
              <div class="infowindow-internal-button-text">
                {{ 'CALCULATE_RATES' | translate }}
              </div>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>

      <ion-row #orderPreview class="infowindow-tab-outer infowindow-tab-order-prevew-outer" *ngIf="getTab('orderPreview').condition()">
        <ion-col col-12 class="infowindow-tab-inner infowinfowindow-tab-loading" *ngIf="getTab('orderPreview').loading()">
          <img src="./assets/img/loading/infowindow.gif">
        </ion-col>
        <ion-col col-12 class="infowindow-tab-inner infowindow-tab-order-preview-inner" *ngIf="!getTab('orderPreview').loading()">
          <ion-row class="infowindow-content-outer">
            <ion-col class="infowindow-content-inner">
              <form [formGroup]="orderPreviewForm" class="eloaded-form">
                <ion-row class="infowindow-order-preview-name-outer">
                  <ion-col col-12 class="infowindow-order-preview-name-inner">
                    <span class="infowindow-order-preview-label">{{ 'CHOOSE_ONE_ORDER_PREVIEW' | translate }}</span>
                  </ion-col>
                </ion-row>
                <ion-row class="infowindow-order-preview-options-list-outer">
                  <ion-col col-12 class="infowindow-order-preview-options-list-inner">
                    <ng-container *ngFor="let orderPreview of cart.orderPreviews">
                      <ion-row class="infowindow-order-preview-element-outer">
                        <ion-col col-12 class="infowindow-order-preview-element-inner shadow" [ngClass]="orderPreviewForm.value.selected === orderPreview.id ? 'selected' : ''" (click)="setSelectedOrderPreview(orderPreview.id)">
                          <label>
                            <span class="infowindow-order-preview-product-description-inner">
                              <span class="infowindow-order-preview-product-descrption-product-inner">{{ orderPreview.products[0].product }}</span><br>
                              <span class="infowindow-order-preview-product-descrption-description-inner">{{ orderPreview.products[0].description }}</span>
                            </span>
                            <span class="infowindow-order-preview-product-price-inner">{{ orderPreview.amount }}</span>
                          </label>
                        </ion-col>
                      </ion-row>
                    </ng-container>
                    <!-- <ion-row class="infowindow-order-preview-element-outer">
                      <ion-col col-12 class="infowindow-order-preview-element-inner shadow" [ngClass]="!orderPreviewForm.value.selected ? 'selected' : ''" (click)="setSelectedOrderPreview(orderPreview.id)">
                        <label>
                          <span class="infowindow-order-preview-product-description-inner charging-time">
                            {{ 'REQUEST_DIFFERENT_TIME' | translate }}
                            <input type="number" min="0" formControlName="hours">h
                            <input type="number" min="0" max="59" formControlName="minutes">min
                          </span>
                          <span class="infowindow-order-preview-product-price-inner charging-time" (click)="requestChargingTime()">
                            <img src="./assets/img/infowindow-internal-buttons/confirm.png">
                            {{ 'BUTTON.CHECK' | translate }}
                          </span>
                        </label>
                      </ion-col>
                    </ion-row> -->
                  </ion-col>
                </ion-row>
              </form>
            </ion-col>
          </ion-row>

          <!-- <ion-row> DO NOT DELETE, USED FOR INTERNAL PAYMENT METHODS
            <div id="adyen"></div>
          </ion-row> -->

          <ion-row class="infowindow-internal-buttons-outer">
            <ion-col col-4 class="infowindow-internal-buttons-inner abort" (click)="jumpTo(0)">
              <div class="infowindow-internal-button-image shadow">
                <img src="./assets/img/infowindow-internal-buttons/abort.png">
              </div>
              <div class="infowindow-internal-button-text">{{ 'CANCEL' | translate }}</div>
            </ion-col>
            <ion-col col-4 class="infowindow-internal-buttons-inner pay" (click)="requestPayOrderWithTerminal()">
              <!-- <div class="infowindow-internal-button-image shadow">
                <img src="./assets/img/infowindow-internal-buttons/pay.png">
              </div>
              <div class="infowindow-internal-button-text">
                {{ 'PAY_WITH_TERMINAL' | translate }}
              </div> -->
            </ion-col>
            <ion-col col-4 class="infowindow-internal-buttons-inner pay" (click)="requestPayOrder()">
              <div class="infowindow-internal-button-image shadow">
                <img src="./assets/img/infowindow-internal-buttons/pay.png">
              </div>
              <div class="infowindow-internal-button-text">
                {{ 'PAY' | translate }}
              </div>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>

      <ion-row #chargeStatus class="infowindow-tab-outer infowindow-tab-charge-status-outer" *ngIf="getTab('chargeStatus').condition()">
        <ion-col col-12 class="infowindow-tab-inner infowinfowindow-tab-loading" *ngIf="getTab('chargeStatus').loading()">
          <img src="./assets/img/loading/infowindow.gif">
        </ion-col>
        <ion-col col-12 class="infowindow-tab-inner infowindow-tab-charge-status-inner" *ngIf="!getTab('chargeStatus').loading()">
          <ion-row class="infowindow-content-outer">
            <ion-col class="infowindow-content-inner">
              <ion-row class="infowindow-charge-name-outer">
                <ion-col col-8 class="infowindow-charge-name-inner">
                  <span class="infowindow-charge-name-label">{{ 'CHARGE' | translate }}</span>
                  <span class="infowindow-charge-name-number">{{ activeCharge._id }}</span>
                </ion-col>
                <ion-col col-4 class="infowindow-charge-status-inner">
                  <ion-row>
                    <span class="infowindow-charge-status">{{ activeCharge.status }}</span>
                  </ion-row>
                  <ion-row>
                    <span class="infowindow-charge-status">{{ activeCharge.chargeStatus }}</span>
                  </ion-row>
                </ion-col>
              </ion-row>
              <ion-row id="progress-circle-container-outer">
                <div class="progress-circle-container-inner">
                  <div id="progress-circle" class="progress-circle" data-progress="0"></div>
                </div>
              </ion-row>
              <ion-row class="infowindow-charge-status-charger-stats-outer">
                <ion-col col-4 class="infowindow-charge-status-charger-stats-current-outer">
                  <ion-row class="infowindow-charge-status-charger-stats-current-inner">
                    <span class="infowindow-charge-status-charger-stats-current-value">
                      {{ activeCharge.presentKiloWatt }} kW
                    </span>
                  </ion-row>
                </ion-col>
                <ion-col col-4 class="infowindow-charge-status-charger-stats-time-outer">
                  <!-- <ion-row class="infowindow-charge-status-charger-stats-time-inner">
                    <span class="infowindow-charge-status-charger-stats-time-value">
                      {{ chargeTime }}
                    </span>
                  </ion-row> -->
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>

          <ion-row class="infowindow-internal-buttons-outer">
            <ion-col col-4 class="infowindow-internal-buttons-inner" *ngIf="activeCharge.stored">

            </ion-col>
            <ion-col col-4 class="infowindow-internal-buttons-inner abort" *ngIf="!activeCharge.stored" (click)="stopCharge()">
              <div class="infowindow-internal-button-image shadow">
                <img src="./assets/img/infowindow-internal-buttons/abort.png">
              </div>
              <div class="infowindow-internal-button-text">{{ 'STOP' | translate }}</div>
            </ion-col>
            <ion-col col-4 class="infowindow-internal-buttons-inner">
            </ion-col>
            <ion-col col-4 class="infowindow-internal-buttons-inner ok" *ngIf="activeCharge.stored" (click)="dismissStoredTransaction()">
              <div class="infowindow-internal-button-image shadow">
                <img src="./assets/img/infowindow-internal-buttons/confirm.png">
              </div>
              <div class="infowindow-internal-button-text">{{ 'OK' | translate }}</div>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>

    </ion-col>
  </ion-row>
</ion-grid>
