favourites-infowindow {

  .infowindow-favourites-list-favourite-detail-button {
    img {
      width: 2rem;
    }
  }

  .favourite-name-validation-error {
    font-size: x-small;
    font-style: italic;
    color: #f53d3d;
  }

  .infowindow-favourites-list-favourite-outer {
    .infowindow-favourites-list-favourite-icon-outer {
      display: flex;
      align-items: center;

      img {
        height: 3rem;
      }
    }
    .infowindow-favourites-list-favourite-name-outer {
      font-size: 1.4rem;
      font-weight: bold;
    }

    .infowindow-favourites-list-favourite-address-outer {
      font-size: smaller;
      color: grey;
      display: block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .infowindow-favourite-detailed-address-inner {
    font-size: small;
    color: gray;
  }
}
