<ion-grid (swipeleft)="swipeEvent($event)" (swiperight)="swipeEvent($event)">
  <infowindow-tabs-header [(tabList)]="tabList" [(current)]="currentTab" prefix="favourite" [autoHide]="false"
    (close)="closeInfowindow()" (jumpTo)="jumpTo($event)">
  </infowindow-tabs-header>

  <ion-row class="infowindow-tab-content-outer" [style.width.vw]="tabList.length * 100" [style.left.vw]="(0 - realCurrentTab) * 100 " [style.height.px]="bodyHeight.max">
    <ion-col col-12 class="infowindow-tab-content-inner">
      <ion-row #favouritesList class="infowindow-tab-outer infowindow-tab-favourites-list-outer" *ngIf="getTab('list').condition()">
        <ion-col col-12 class="infowindow-tab-inner infowinfowindow-tab-loading" *ngIf="getTab('list').loading()">
          <img src="./assets/img/loading/infowindow.gif">
        </ion-col>
        <ion-col col-12 class="infowindow-tab-inner infowindow-tab-favourites-list-inner" *ngIf="!getTab('list').loading()">
          <ion-row class="infowindow-content-outer">
            <ion-col col-12 class="infowindow-content-inner">
              <ng-container *ngFor="let favourite of favourites">
                <ion-row class="infowindow-favourites-list-favourite-outer" (click)="setFocus(favourite)">
                  <ion-col col-1 class="infowindow-favourites-list-favourite-icon-outer">
                    <ng-container [ngSwitch]="favourite.name.toUpperCase()">
                      <img class="home-icon" *ngSwitchCase="'HOME'" src="./assets/img/general/home.svg">
                      <img class="work-icon" *ngSwitchCase="'WORK'" src="./assets/img/general/briefcase.svg">
                      <img class="favourite-icon" *ngSwitchDefault src="./assets/img/general/favourite.svg">
                    </ng-container>
                  </ion-col>
                  <ion-col class="infowindow-favourites-list-favourite-inner">
                    <ion-row class="infowindow-favourites-list-favourite-name-outer">
                      {{ favourite.name }}
                    </ion-row>
                    <ion-row class="infowindow-favourites-list-favourite-address-outer">
                      {{ favourite.address }}
                    </ion-row>
                  </ion-col>
                  <ion-col col-auto align-self-end class="infowindow-favourites-list-favourite-detail-button">
                    <img src="./assets/img/general/next.svg">
                  </ion-col>
                </ion-row>
              </ng-container>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>

      <ion-row #favouriteDetail class="infowindow-tab-outer infowindow-tab-favourite-detail-outer" *ngIf="getTab('info').condition()">
        <ion-col col-12 class="infowindow-tab-inner infowinfowindow-tab-loading" *ngIf="getTab('info').loading()">
          <img src="./assets/img/loading/infowindow.gif">
        </ion-col>
        <ion-col col-12 class="infowindow-tab-inner infowindow-tab-favourite-detail-inner" *ngIf="!getTab('info').loading()">
          <ion-row class="infowindow-content-outer">
            <ion-col col-12 class="infowindow-content-inner">
              <ion-row class="infowindow-favourite-title-outer">
                <ion-col col-2 class="infowindow-icon-inner">
                  <ng-container [ngSwitch]="(focus.name || '').toUpperCase()">
                    <img class="home-icon" *ngSwitchCase="'HOME'" src="./assets/img/general/home.svg">
                    <img class="work-icon" *ngSwitchCase="'WORK'" src="./assets/img/general/briefcase.svg">
                    <img class="favourite-icon" *ngSwitchDefault src="./assets/img/general/favourite.svg">
                  </ng-container>
                </ion-col>

                <ion-col col-10 class="infowindow-title-inner">
                  <ion-row class="infowindow-favourite-name">
                    <form [formGroup]="editor" class="eloaded-form">
                      <input #nameInput type="text" (keyup.enter)="onSave()" formControlName="name">
                    </form>
                  </ion-row>
                  <ion-row class="favourite-name-validation-error error" *ngIf="!focus.name.trim()">
                    {{ 'VALIDATION.NAME_REQUIRED' | translate }}
                  </ion-row>
                  <ion-row class="infowindow-favourite-detailed-address-outer">
                    <ion-col col-12  class="infowindow-favourite-detailed-address-inner">
                      <ion-row *ngIf="focus.street || focus.number"><span *ngIf="focus.street">{{ focus.street }}</span>&nbsp;<span *ngIf="focus.number">{{ focus.number }}</span></ion-row>
                      <ion-row *ngIf="focus.city"><span>{{ focus.city }}</span>&nbsp;<span *ngIf="focus.zip">{{ focus.zip }}</span></ion-row>
                      <ion-row *ngIf="focus.country"><span>{{ focus.country }}</span></ion-row>
                    </ion-col>
                  </ion-row>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>

          <ion-row class="infowindow-internal-buttons-outer">
            <!-- 3 buttons pattern -->
            <ion-col col-4 class="infowindow-internal-buttons-inner" [ngClass]="focus._id && !editor.enabled ? 'remove' : 'abort'" (click)="focus._id && !editor.enabled ? onRemove() : abort()">
              <div class="infowindow-internal-button-image shadow">
                <img *ngIf="focus._id && !editor.enabled" src="./assets/img/infowindow-internal-buttons/remove-favourite.png">
                <img *ngIf="!focus._id || editor.enabled" src="./assets/img/infowindow-internal-buttons/abort.png">
              </div>
              <div class="infowindow-internal-button-text" *ngIf="focus._id && !editor.enabled">{{ 'REMOVE_FAVOURITE' | translate }}</div>
              <div class="infowindow-internal-button-text" *ngIf="!focus._id || editor.enabled">{{ 'ABORT' | translate }}</div>
            </ion-col>

            <ion-col col-4 class="infowindow-internal-buttons-inner" [ngClass]="editor.enabled ? 'save' : 'edit'" (click)="editor.enabled ? onSave() : openEditor()">
              <div class="infowindow-internal-button-image shadow">
                <img src="./assets/img/infowindow-internal-buttons/edit.png" *ngIf="!editor.enabled">
                <img src="./assets/img/infowindow-internal-buttons/save.png" *ngIf="editor.enabled">
              </div>
              <div class="infowindow-internal-button-text" *ngIf="!editor.enabled">{{ 'EDIT' | translate }}</div>
              <div class="infowindow-internal-button-text" *ngIf="editor.enabled">{{ 'SAVE' | translate }}</div>
            </ion-col>
            <ion-col col-4 class="infowindow-internal-buttons-inner navigate">
              <!-- <div class="infowindow-internal-button-image shadow">
                <img src="./assets/img/infowindow-internal-buttons/navigate.png">
              </div>
              <div class="infowindow-internal-button-text">
                {{ 'NAVIGATE' | translate }}
              </div> -->
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-grid>
