profile-infowindow {

  .infowindow-tab-qr-code-inner {
    .infowindow-content-inner {
      display: flex;
      align-items: center;

      canvas#qrcode {
        margin: 0 auto;
      }
    }
  }
  
  .infowindow-profile-avatar {
    margin: 0 auto;
    height: 10rem;
    width: 10rem;
    border-radius: 5rem;
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;

    .infowindow-avatar-internal-edit-hover {
      position: absolute;
      bottom: 0;
      height: 30%;
      width: 100%;
      background-color: rgba(3, 192, 60, 0.5);
      background-image: url(../../../assets/img/infowindow-internal-buttons/edit.png);
      background-position: center;
      background-size: 20%;
      background-repeat: no-repeat;
    }
  }

  .infowindow-logout-inner {
    padding: 0.5rem 1rem;
    color: white;
    font-size: 1.5rem;
    background: #28282d;
    border-radius: 2rem;
    width: fit-content;
    margin-left: auto;
  }

  .infowindow-newsletter-inner {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    label {
      width: fit-content;
      height: fit-content;
    }
    ion-toggle {
      margin: 0 0 0 auto;
    }
  }

  .infowindow-profile-address-delete-current-address {
    float: right;
    height: 2rem;
    width: 2rem;
    background-color: #28282d;
    background-image: url(../../../assets/img/infowindow-internal-buttons/abort.png);
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 1rem;
  }

  .searchbar-container-inner {
    padding: 0 !important;
  }
}