<ion-grid (swipeleft)="swipeEvent($event)" (swiperight)="swipeEvent($event)">
  <infowindow-tabs-header [(tabList)]="tabList" [(current)]="currentTab" prefix="profile" [autoHide]="true"
    (close)="closeInfowindow()" (jumpTo)="jumpTo($event)">
  </infowindow-tabs-header>

  <ion-row class="infowindow-tab-content-outer" [style.width.vw]="tabList.length * 100" [style.left.vw]="(0 - realCurrentTab) * 100 " [style.height.px]="bodyHeight.max">
    <ion-col col-12 class="infowindow-tab-content-inner">

      <ion-row #qrCodeTab class="infowindow-tab-outer infowindow-tab-qr-code-outer" *ngIf="getTab('qrCode').condition()">
        <ion-col col-12 class="infowindow-tab-inner infowinfowindow-tab-loading" *ngIf="getTab('qrCode').loading()">
          <img [src]="loadingImage">
          {{ errorMessage }}
        </ion-col>
        <ion-col col-12 class="infowindow-tab-inner infowindow-tab-qr-code-inner" *ngIf="!getTab('qrCode').loading()">
          <ion-row class="infowindow-content-outer">
            <ion-col col-12 class="infowindow-content-inner">
              <canvas id='qrcode'></canvas>
            </ion-col>
          </ion-row>

          <ion-row class="infowindow-internal-buttons-outer">
            <ion-col col-4 class="infowindow-internal-buttons-inner">
            </ion-col>
            <ion-col col-4 class="infowindow-internal-buttons-inner">
            </ion-col>
            <ion-col col-4 class="infowindow-internal-buttons-inner go-to-profile" (click)="jumpTo(1)">
              <div class="infowindow-internal-button-image shadow">
                <img src="./assets/img/infowindow-internal-buttons/profile.png">
              </div>
              <div class="infowindow-internal-button-text">
                {{ 'YOUR_PROFILE' | translate }}
              </div>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>

      <ion-row #profileTab class="infowindow-tab-outer infowindow-tab-profile-outer" *ngIf="getTab('profile').condition()">
        <ion-col col-12 class="infowindow-tab-inner infowinfowindow-tab-loading" *ngIf="getTab('profile').loading()">
          <img [src]="loadingImage">
          {{ errorMessage }}
        </ion-col>
        <ion-col col-12 class="infowindow-tab-inner infowindow-tab-profile-inner" *ngIf="!getTab('profile').loading()">
          <ion-row class="infowindow-content-outer">
            <ion-col col-12 class="infowindow-content-inner">
              <form [formGroup]="editor" class="eloaded-form">
                <ion-row class="infowindow-avatar-outer">
                  <ion-col col-4 offset-4 class="infowindow-avatar-inner" (click)="editor.enabled ? editAvatar() : undefined">
                    <div class="infowindow-profile-avatar shadow" [style.backgroundImage]="'url(' + (currentAvatar || defaultAvatar) + ')'">
                      <div class="infowindow-avatar-internal-edit-hover" *ngIf="editor.enabled"></div>
                    </div>
                  </ion-col>
                </ion-row>
                <ion-row class="infowindow-email-outer">
                  <ion-col col-auto class="infowindow-email-inner">
                    {{ 'SIGNED_IN_AS' | translate }}:
                    <span class="infowindow-email-field">{{ user.email }}</span>
                  </ion-col>
                  <ion-col class="infowindow-logout-outer">
                    <div class="infowindow-logout-inner" (click)="logout.emit()">
                      {{ 'LOGOUT' | translate }}
                    </div>
                  </ion-col>
                </ion-row>
                <ion-row class="infowindow-first-last-name-outer">
                  <ion-col col-6 class="infowindow-first-name-inner">
                    <label>{{ 'FIRST_NAME' | translate }}</label>
                    <input type="text" formControlName="firstname" (change)="cd.detectChanges()">
                    <span class="validation-error" [ngClass]="editor.get('firstname').touched && editor.get('firstname').invalid ? 'show' : 'hidden'">
                      {{ 'VALIDATION.FIRST_NAME_REQUIRED' | translate }}
                    </span>
                  </ion-col>
                  <ion-col col-6 class="infowindow-last-name-inner">
                    <label>{{ 'LAST_NAME' | translate }}</label>
                    <input type="text" formControlName="lastname" (change)="cd.detectChanges()">
                    <span class="validation-error" [ngClass]="editor.get('lastname').touched && editor.get('lastname').invalid ? 'show' : 'hidden'">
                      {{ 'VALIDATION.LAST_NAME_REQUIRED' | translate }}
                    </span>
                  </ion-col>
                </ion-row>
                <ion-row class="infowindow-profile-gender-birthday-outer">
                  <ion-col col-6 class="infowindow-profile-gender-inner">
                    <label>{{ 'GENRE' | translate }}</label>
                    <select formControlName="genre" (change)="cd.detectChanges()">
                      <option [ngValue]="null">{{ 'GENRE.NOT_DECLARED' | translate }}</option>
                      <option value="M">{{ 'GENRE.MALE' | translate }}</option>
                      <option value="F">{{ 'GENRE.FEMALE' | translate }}</option>
                      <option value="D">{{ 'GENRE.DIVERSITY' | translate }}</option>
                    </select>
                  </ion-col>
                  <ion-col col-6 class="infowindow-profile-birthdate-inner">
                    <label>{{ 'BIRTHDAY' | translate }}</label>
                    <input type="date" formControlName="birthday" [max]="maxBirthdate" min="1900-01-01">
                  </ion-col>
                </ion-row>
                <ion-row class="infowindow-profile-newsletter-outer">
                  <ion-col col-12 class="infowindow-newsletter-inner">
                    <label>{{ 'NEWSLETTER' | translate }}</label>
                    <ion-toggle id="newsletter" formControlName="newsletter"></ion-toggle>
                  </ion-col>
                </ion-row>
                <ion-row class="infowindow-profile-newsletter-outer">
                  <ion-col col-12 class="infowindow-newsletter-inner">
                    <label>{{ 'AUTOMATIC_PAYMENT' | translate }}</label>
                    <ion-toggle id="automaticPayment" formControlName="automaticPayment"></ion-toggle>
                  </ion-col>
                </ion-row>
                <ion-row class="infowindow-profile-locale-outer">
                  <ion-col col-12 class="infowindow-locale-inner">
                    <label>{{ 'LOCALE' | translate }}</label>
                    <select formControlName="locale">
                      <option value="de">{{ 'LOCALE.GERMAN' | translate }}</option>
                      <option value="en">{{ 'LOCALE.ENGLISH' | translate }}</option>
                      <option value="it">{{ 'LOCALE.ITALIAN' | translate }}</option>
                    </select>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                  </ion-col>
                </ion-row>
                <ion-row class="infowindow-profile-address-outer">
                  <ion-col col-12 class="infowindow-profile-address-inner current-address" *ngIf="currentAddress">
                    <label>{{ 'ADDRESS' | translate }}</label>
                    {{ currentAddress }}
                    <div class="infowindow-profile-address-delete-current-address" *ngIf="editor.enabled" (click)="removeAddress()"></div>
                  </ion-col>
                  <ion-col col-12 class="infowindow-profile-address-inner searchbar" *ngIf="!currentAddress && editor.enabled">
                    <label>{{ 'ADDRESS' | translate }}</label>
                    <searchbar showFavouriteLabels="false" (locationCallback)="setAddress($event)"></searchbar>
                  </ion-col>
                </ion-row>
              </form>
            </ion-col>
          </ion-row>

          <ion-row class="infowindow-internal-buttons-outer">
            <ion-col col-4 class="infowindow-internal-buttons-inner confirm-profile" (click)="user && user.authn && user.authn.confirmation && !user.authn.confirmation.status ? goToConfirmProfileTab() : undefined">
              <ng-container *ngIf="user && user.authn && user.authn.confirmation && !user.authn.confirmation.status">
                <div class="infowindow-internal-button-image shadow">
                  <img src="./assets/img/infowindow-internal-buttons/profile-confirmation.png">
                </div>
                <div class="infowindow-internal-button-text">
                  {{ 'CONFIRM_PROFILE' | translate }}
                </div>  
              </ng-container>
            </ion-col>
            <ion-col col-4 class="infowindow-internal-buttons-inner" [ngClass]="editor.enabled ? 'save' : 'edit'" (click)="editor.enabled ? onSave() : openEditor()">
              <div class="infowindow-internal-button-image shadow">
                <img src="./assets/img/infowindow-internal-buttons/edit.png" *ngIf="!editor.enabled">
                <img src="./assets/img/infowindow-internal-buttons/save.png" *ngIf="editor.enabled">
              </div>
              <div class="infowindow-internal-button-text">
                <div class="infowindow-internal-button-text" *ngIf="!editor.enabled">{{ 'EDIT' | translate }}</div>
                <div class="infowindow-internal-button-text" *ngIf="editor.enabled">{{ 'SAVE' | translate }}</div>
              </div>
            </ion-col>
            <ion-col col-4 class="infowindow-internal-buttons-inner change-password" (click)="goToChangePasswordTab()">
              <div class="infowindow-internal-button-image shadow">
                <img src="./assets/img/infowindow-internal-buttons/password.png">
              </div>
              <div class="infowindow-internal-button-text">
                {{ 'CHANGE_PASSWORD' | translate }}
              </div>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>

      <ion-row #changePasswordTab class="infowindow-tab-outer infowindow-tab-change-password-outer" *ngIf="getTab('changePassword').condition()">
        <ion-col col-12 class="infowindow-tab-inner infowinfowindow-tab-loading" *ngIf="getTab('changePassword').loading()">
          <img [src]="loadingImage">
          {{ errorMessage }}
        </ion-col>
        <ion-col col-12 class="infowindow-tab-inner infowindow-tab-change-password-inner" *ngIf="!getTab('changePassword').loading()">
          <ion-row class="infowindow-content-outer">
            <ion-col col-12 class="infowindow-content-inner">
              <form [formGroup]="changePasswordEditor" class="eloaded-form">
                <ion-row class="infowindow-old-password-outer">
                  <ion-col col-12 class="infowindow-old-password-inner">
                    <label>{{ 'OLD_PASSWORD' | translate }}</label>
                    <input type="password" formControlName="oldPassword" (change)="cd.detectChanges()">
                    <span class="validation-error" [ngClass]="changePasswordEditor.get('oldPassword').touched && changePasswordEditor.get('oldPassword').invalid ? 'show' : 'hidden'">
                      &nbsp;<ng-container *ngIf="changePasswordEditor.get('oldPassword').hasError('required')">{{ 'VALIDATION.PASSWORD_REQUIRED' | translate }}</ng-container>
                    </span>
                  </ion-col>
                </ion-row>

                <ion-row class="infowindow-new-password-outer">
                  <ion-col col-12 class="infowindow-new-password-inner">
                    <label>{{ 'NEW_PASSWORD' | translate }}</label>
                    <input type="password" formControlName="newPassword" (change)="cd.detectChanges()">
                    <span class="validation-error" [ngClass]="changePasswordEditor.get('newPassword').touched && (changePasswordEditor.get('newPassword').invalid || changePasswordEditor.hasError('samePassword')) ? 'show' : 'hidden'">
                      <ng-container *ngIf="changePasswordEditor.get('newPassword').hasError('required')">{{ 'VALIDATION.PASSWORD_REQUIRED' | translate }}</ng-container>
                      <ng-container *ngIf="changePasswordEditor.get('newPassword').hasError('minlength')">{{ 'VALIDATION.PASSWORD_MUST_BE_AT_LEAST_FIVE_CHARS' | translate }}</ng-container>
                      <ng-container *ngIf="changePasswordEditor.hasError('samePassword')">{{ 'VALIDATION.INSERT_DIFFERENT_PASSWORD' | translate }}</ng-container>&nbsp;
                    </span>
                  </ion-col>
                </ion-row>

                <ion-row class="infowindow-confirm-password-outer">
                  <ion-col col-12 class="infowindow-confirm-password-inner">
                    <label>{{ 'CONFIRM_PASSWORD' | translate }}</label>
                    <input type="password" formControlName="confirmPassword" (change)="cd.detectChanges()">
                    <span class="validation-error" [ngClass]="changePasswordEditor.get('confirmPassword').touched && (changePasswordEditor.hasError('passwordMismatch') || changePasswordEditor.get('confirmPassword').invalid) ? 'show' : 'hidden'">
                      <ng-container *ngIf="changePasswordEditor.get('confirmPassword').hasError('required')">{{ 'VALIDATION.CONFIRMATION_PASSWORD_REQUIRED' | translate }}</ng-container>
                      <ng-container *ngIf="changePasswordEditor.hasError('passwordMismatch')">{{ 'VALIDATION.CONFIRMATION_PASSWORD_WRONG' | translate }}</ng-container>&nbsp;
                    </span>
                  </ion-col>
                </ion-row>
              </form>
            </ion-col>
          </ion-row>

          <ion-row class="infowindow-internal-buttons-outer">
            <ion-col col-4 class="infowindow-internal-buttons-inner abort" (click)="jumpTo(1)">
              <div class="infowindow-internal-button-image shadow">
                <img src="./assets/img/infowindow-internal-buttons/abort.png">
              </div>
              <div class="infowindow-internal-button-text">{{ 'ABORT' | translate }}</div>
            </ion-col>
            <ion-col col-4 class="infowindow-internal-buttons-inner save" (click)="confirmChangePassword()">
              <div class="infowindow-internal-button-image shadow">
                <img src="./assets/img/infowindow-internal-buttons/save.png">
              </div>
              <div class="infowindow-internal-button-text">{{ 'SAVE' | translate }}</div>
            </ion-col>

            <ion-col col-4 class="infowindow-internal-buttons-inner">
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>

      <ion-row #confirmProfileTab class="infowindow-tab-outer infowindow-tab-confirm-profile-outer" *ngIf="getTab('confirmProfile').condition()">
        <ion-col col-12 class="infowindow-tab-inner infowinfowindow-tab-loading" *ngIf="getTab('confirmProfile').loading()">
          <img [src]="loadingImage">
          {{ errorMessage }}
        </ion-col>
        <ion-col col-12 class="infowindow-tab-inner infowindow-tab-confirm-profile-inner" *ngIf="!getTab('confirmProfile').loading()">
          <ion-row class="infowindow-content-outer">
            <ion-col col-12 class="infowindow-content-inner">
              <form [formGroup]="confirmProfileEditor" class="eloaded-form">
                <ion-row class="infowindow-confirmation-code-outer">
                  <ion-col col-12 class="infowindow-confirmation-code-inner">
                    <label>{{ 'CONFIRMATION_CODE' | translate }}</label>
                    <input type="text" formControlName="confirmationCode" (change)="cd.detectChanges()">
                    <span class="validation-error" [ngClass]="confirmProfileEditor.get('confirmationCode').touched && confirmProfileEditor.get('confirmationCode').invalid ? 'show' : 'hidden'">
                      <ng-container *ngIf="confirmProfileEditor.get('confirmationCode').hasError('required')">{{ 'VALIDATION.CONFIRMATION_CODE_REQUIRED' | translate }}</ng-container>&nbsp;
                    </span>
                  </ion-col>
                </ion-row>
              </form>
            </ion-col>
          </ion-row>

          <ion-row class="infowindow-internal-buttons-outer">
            <ion-col col-4 class="infowindow-internal-buttons-inner abort" (click)="jumpTo(1)">
              <div class="infowindow-internal-button-image shadow">
                <img src="./assets/img/infowindow-internal-buttons/abort.png">
              </div>
              <div class="infowindow-internal-button-text">{{ 'ABORT' | translate }}</div>
            </ion-col>
            <ion-col col-4 class="infowindow-internal-buttons-inner confirm" (click)="submitConfirmProfile()">
              <div class="infowindow-internal-button-image shadow">
                <img src="./assets/img/infowindow-internal-buttons/confirm.png">
              </div>
              <div class="infowindow-internal-button-text">{{ 'CONFIRM' | translate }}</div>
            </ion-col>
            <ion-col col-4 class="infowindow-internal-buttons-inner send-code" (click)="sendConfirmationCode()">
              <div class="infowindow-internal-button-image shadow">
                <img src="./assets/img/infowindow-internal-buttons/send-email.png">
              </div>
              <div class="infowindow-internal-button-text">{{ 'SEND_CONFIRMATION_CODE_EMAIL' | translate }}</div>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-grid>
