<ion-grid (swipeleft)="swipeEvent($event)" (swiperight)="swipeEvent($event)">
  <infowindow-tabs-header [(tabList)]="tabList" [(current)]="currentTab" prefix="location" [autoHide]="false"
    (close)="closeInfowindow()" (jumpTo)="jumpTo($event)">
  </infowindow-tabs-header>

  <ion-row class="infowindow-tab-content-outer" [style.width.vw]="tabList.length * 100" [style.left.vw]="(0 - realCurrentTab) * 100 " [style.height.px]="bodyHeight.max">
    <ion-col col-12 class="infowindow-tab-content-inner">
      <ion-row #locationInfoTab class="infowindow-tab-outer infowindow-tab-location-info-outer" *ngIf="getTab('info').condition()">
        <ion-col col-12 class="infowindow-tab-inner infowinfowindow-tab-loading" *ngIf="getTab('info').loading()">
          <img src="./assets/img/loading/infowindow.gif">
        </ion-col>
        <ion-col col-12 class="infowindow-tab-inner infowindow-tab-location-info-inner">
          <ion-row class="infowindow-content-outer">
            <ion-col col-12 class="infowindow-content-inner">
              <ion-row class="infowindow-location-outer">
                <ion-col col-1 class="infowindow-icon-inner">
                  <img class="place-icon" src="./assets/img/general/globe.svg">
                </ion-col>

                <ion-col col-auto class="infowindow-location-address-outer">
                  <ion-row class="infowindow-location-address-inner">
                    <ion-col col-12  class="infowindow-location-detailed-address-inner">
                      <ion-row *ngIf="focus.street || focus.number"><span *ngIf="focus.street">{{ focus.street }}</span>&nbsp;<span *ngIf="focus.number">{{ focus.number }}</span></ion-row>
                      <ion-row *ngIf="focus.city"><span>{{ focus.city }}</span>&nbsp;<span *ngIf="focus.zip">{{ focus.zip }}</span></ion-row>
                      <ion-row *ngIf="focus.country"><span>{{ focus.country }}</span></ion-row>
                    </ion-col>
                  </ion-row>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>

          <ion-row class="infowindow-internal-buttons-outer">
            <!-- 3 buttons pattern -->
            <ion-col col-4 class="infowindow-internal-buttons-inner favourite" (click)="addLocationToFavourites()">
              <div class="infowindow-internal-button-image shadow">
                <img src="./assets/img/infowindow-internal-buttons/favourite.png">
              </div>
              <div class="infowindow-internal-button-text">
                {{ 'SET_AS_FAVOURITE' | translate }}
              </div>
            </ion-col>
            <ion-col col-4 class="infowindow-internal-buttons-inner">
            </ion-col>
            <ion-col col-4 class="infowindow-internal-buttons-inner navigate">
              <!-- <div class="infowindow-internal-button-image shadow">
                <img src="./assets/img/infowindow-internal-buttons/navigate.png">
              </div>
              <div class="infowindow-internal-button-text">
                {{ 'NAVIGATE' | translate }}
              </div> -->
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-grid>
