:host {
  .shadow {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  }

  overflow: scroll;

  .homepagemap-outer {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: -1;

    #homepagemap {
      width: 100%;
      height: 100%;
    }
  }

  .invisible-row-outer {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;

    .invisible-row-inner {
      padding: 0;
    }
    .invisible-row-inner > ion-row > ion-col {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
    }
    .invisible-row-inner > ion-row > ion-col:first-child {
      padding-left: 1rem;
    }
    .invisible-row-inner > ion-row > ion-col:last-child {
      padding-right: 1rem;
    }

    .menu-button-outer {
      button {
        height: 5rem;
        width: 5rem;
        border-radius: 2.5rem;
        margin: 0;
        padding: 0;

        img {
          height: 40%;
          width: 40%;
        }
      }
    }

    .invisible-header {
      ion-col {
        padding: 0;
      }
    }

    .eloaded-header-avatar-container-outer {
      .eloaded-header-avatar-container-inner {
        float: right;
        width: fit-content;
        max-width: 100%;
        height: 5rem;
        background: #94c11f;
        border-radius: 2.5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      .eloaded-header-avatar-name {
        font-weight: bold;
        margin: 0.5rem 0 0.5rem 1rem;
        font-size: 1.2rem;
        text-overflow: ellipsis;
        flex-grow: 0;
        flex-shrink: 2;
        white-space: nowrap;
        overflow: hidden;
      }

      .eloaded-header-avatar {
        height: 4rem;
        width: 4rem;
        margin: 0.5rem;
        background: white;
        border-radius: 2rem;
        flex-grow: 2;
        flex-shrink: 0;
        background-position: center;
        background-size: cover;
        border: 0.1rem solid white;
      }
    }
  }

  filters-on-map {
    margin: 0.5rem 1rem 0 0;
    position: absolute;
    right: 0;
  }

  .eloaded-header-logo-outer {
    background: url(../../assets/img/logo/logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  .infowindow {
    position: relative;
    background: white;
    transition-duration: 0.5s;
    overflow: visible;

    .charge-button-outer.charge {
      background: #94c11f;
    }

    .charge-button-outer.charging {
      background: #579ABE;
    }

    .charge-button-outer {
      height: 4rem;
      line-height: 4rem;
      width: fit-content;
      position: absolute;
      top: -5rem;
      border-radius: 2rem;
      left: 1rem;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      color: white;
      padding-right: 1rem;
      font-weight: bold;

      .charge-button-inner {
        height: 100%;
        width: 4rem;
        background: url(../../assets/img/general/chargers.png);
        background-size: 60%;
        background-repeat: no-repeat;
        background-position: center;
      }
    }

    .my-position-button-outer {
      height: 4rem;
      width: 4rem;
      margin: 0 1rem 1rem 0;
      position: absolute;
      right: 0;
      top: -5rem;
      background-color: white;
      border-radius: 3rem;

      .my-position-button-inner {
        height: 100%;
        width: 100%;
        background: url(../../assets/img/general/gps-fixed.svg);
        background-size: 60%;
        background-repeat: no-repeat;
        background-position: center;
      }
    }

    .infowindow-buttons-inner {
      padding: 0.5rem 1rem;
      display: flex;
      flex-wrap: nowrap;

      .infowindow-tab-button-outer:first-child {
        margin-left: 0;
      }
      .infowindow-tab-button-outer:last-child {
        margin-right: 0;
      }
      .infowindow-tab-button-outer {
        height: 2rem;
        width: 2rem;
        margin: 0 0.3rem;
        border-radius: 1rem;
        display: flex;
        flex-wrap: nowrap;
        transition-duration: 0.5s;

        .infowindow-tab-button-icon {
          height: 1.6rem;
          width: 1.6rem;
          border-radius: 0.8rem;
          margin: 0.2rem;
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;
          flex-shrink: 0;
          flex-grow: 0;
        }

        .infowindow-tab-button-text {
          visibility: hidden;
          font-size: 1.4rem;
          min-width: 0;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          color: white;
          font-weight: bold;
          line-height: 2rem;
        }
      }

      .infowindow-tab-button-outer.active {
        width: fit-content;
        width: 12rem;
        max-width: 20rem;
        .infowindow-tab-button-text {
          visibility: inherit;
          flex-shrink: 1;
          flex-grow: 1;
        }
      }

      // General color
      .infowindow-tab-button-outer { background-color: black; }

      .infowindow-tab-button-outer.station-chargers,
      .infowindow-tab-button-outer.charge-chargeForm,
      .infowindow-tab-button-outer.charge-chargeStatus {
        background-color: #94c11f;

        .infowindow-tab-button-icon {
          background-image: url(../../assets/img/infowindow-tabs-header/chargers.png);
        }
      }

      // Specific color
      .infowindow-tab-button-outer.station-general,
      .infowindow-tab-button-outer.favourite-info,
      .infowindow-tab-button-outer.location-info,
      .infowindow-tab-button-outer.cars-editor {
        background-color: grey;

        .infowindow-tab-button-icon {
          background-image: url(../../assets/img/infowindow-tabs-header/info.png);
        }
      }

      .infowindow-tab-button-outer.favourite-list,
      .infowindow-tab-button-outer.cars-list,
      .infowindow-tab-button-outer.charge-orderPreview,
      .infowindow-tab-button-outer.orderHistory-orderHistory,
      .infowindow-tab-button-outer.orderHistory-transactionHistory {
        background-color: #EADA52;

        .infowindow-tab-button-icon {
          background-image: url(../../assets/img/infowindow-tabs-header/list.png);
        }
      }

      .infowindow-tab-button-outer.close {
        background-color: black;
        margin-left: auto;

        .infowindow-tab-button-icon {
          background-image: url(../../assets/img/infowindow-tabs-header/close.png);
        }
      }
    }

    .infowindow-tab-button-outer.profile-qrCode {
      background-color: grey;

      .infowindow-tab-button-icon {
        background-image: url(../../assets/img/infowindow-tabs-header/qr-code.png);
      }
    }

    .infowindow-tab-button-outer.profile-profile {
      background-color: #EADA52;

      .infowindow-tab-button-icon {
        background-image: url(../../assets/img/infowindow-tabs-header/profile.png);
      }
    }

    .infowindow-tab-button-outer.profile-changePassword {
      background-color: #579ABE;

      .infowindow-tab-button-icon {
        background-image: url(../../assets/img/infowindow-tabs-header/password.png);
      }
    }

    .infowindow-tab-button-outer.profile-confirmProfile {
      background-color: #579ABE;

      .infowindow-tab-button-icon {
        background-image: url(../../assets/img/infowindow-tabs-header/profile-confirmation.png);
      }
    }

    .settings-window-car-inner,
    .settings-window-soc-outer {
      padding: 0;
    }

    .settings-window-soc-outer {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }

    .settings-window-soc-inner {
      font-size: 1.8em;
      font-weight: bold;
    }

    .settings-range-inner {
      font-size: smaller;
      font-weight: bold;
      color: grey;
    }

    ion-grid {
      padding: 0;
      touch-action: pan-y !important;
    }

    .infowindow-title-inner,
    .settings-window-car-plate-outer,
    .settings-window-add-car-title-outer {
      font-size: 1.3em;
      padding: 0;
    }

    .infowindow-station-address,
    .infowindow-favourite-address,
    .settings-window-car-model-outer,
    .settings-window-add-car-description-outer {
      font-size: small;
      color: grey;
    }

    .infowindow-icon-inner {
      display: flex;
      justify-content: center;
      align-items: start;
      padding: 0;

      img {
        height: 4rem;
      }
    }

    .infowindow-internal-buttons-outer {
      padding: 1rem 0 0;
    }
  }

  // TEST AREA

  .infowindow-car-editor-outer {
    .infowindow-car-editor-consumption-details-mild-city-outer,
    .infowindow-car-editor-consumption-details-cold-city-outer {
      padding-left: 0;
    }

    .infowindow-car-editor-consumption-details-mild-highway-outer,
    .infowindow-car-editor-consumption-details-cold-highway-outer {
      padding-right: 0;
    }
  }

  .charge-button-outer {
    .mini-progress-circle-container-inner {
      margin: 0.2rem;
    }
  
    .mini-progress-circle {
      background-color: #484851;
      border-radius: 50%;
      display: inline-block;
      height: 3.6rem;
      width: 3.6rem;
      position: relative;
    }
  
    .mini-progress-circle:before {
      -webkit-box-align: center;
      align-items: center;
      background-color: #579ABE;
      color: #94c11f;
      border-radius: 50%;
      // content: attr(data-progress) '%';
      content: '';
      display: -webkit-box;
      display: flex;
      // font-size: 5rem;
      -webkit-box-pack: center;
      justify-content: center;
      position: absolute;
      left: 0.5rem;
      right: 0.5rem;
      top: 0.5rem;
      bottom: 0.5rem;
      -webkit-transition: -webkit-transform 0.2s ease;
      transition: -webkit-transform 0.2s ease;
      transition: transform 0.2s ease;
      transition: transform 0.2s ease, -webkit-transform 0.2s ease;
    }
  
    .mini-progress-circle:after {
      background-color: #94c11f;
      border-radius: 50%;
      content: '';
      display: inline-block;
      height: 100%;
      width: 100%;
    }
    .mini-progress-circle:hover:before,
    .mini-progress-circle:focus:before {
      -webkit-transform: scale(0.8);
              transform: scale(0.8);
    }
    /**
    * $step is set to 5 by default, meaning you can only use percentage classes in increments of five (e.g. 25, 30, 45, 50, and so on). This helps to reduce the size of the final CSS file. If you need a number that doesn't end in 0 or 5, you can change the text percentage while rounding the class up/down to the nearest 5.
    */
    .mini-progress-circle[data-progress="0"]:after {
      background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, #484851), color-stop(50%, transparent), to(transparent)), -webkit-gradient(linear, left top, right top, color-stop(50%, #94c11f), color-stop(50%, #484851), to(#484851));
      background-image: linear-gradient(90deg, #484851 50%, transparent 50%, transparent), linear-gradient(90deg, #94c11f 50%, #484851 50%, #484851);
    }
    .mini-progress-circle[data-progress="1"]:after {
      background-image: linear-gradient(90deg, #484851 50%, transparent 50%, transparent), linear-gradient(93.6deg, #94c11f 50%, #484851 50%, #484851);
    }
    .mini-progress-circle[data-progress="2"]:after {
      background-image: linear-gradient(90deg, #484851 50%, transparent 50%, transparent), linear-gradient(97.2deg, #94c11f 50%, #484851 50%, #484851);
    }
    .mini-progress-circle[data-progress="3"]:after {
      background-image: linear-gradient(90deg, #484851 50%, transparent 50%, transparent), linear-gradient(100.8deg, #94c11f 50%, #484851 50%, #484851);
    }
    .mini-progress-circle[data-progress="4"]:after {
      background-image: linear-gradient(90deg, #484851 50%, transparent 50%, transparent), linear-gradient(104.4deg, #94c11f 50%, #484851 50%, #484851);
    }
    .mini-progress-circle[data-progress="5"]:after {
      background-image: linear-gradient(90deg, #484851 50%, transparent 50%, transparent), linear-gradient(108deg, #94c11f 50%, #484851 50%, #484851);
    }
    .mini-progress-circle[data-progress="6"]:after {
      background-image: linear-gradient(90deg, #484851 50%, transparent 50%, transparent), linear-gradient(111.6deg, #94c11f 50%, #484851 50%, #484851);
    }
    .mini-progress-circle[data-progress="7"]:after {
      background-image: linear-gradient(90deg, #484851 50%, transparent 50%, transparent), linear-gradient(115.2deg, #94c11f 50%, #484851 50%, #484851);
    }
    .mini-progress-circle[data-progress="8"]:after {
      background-image: linear-gradient(90deg, #484851 50%, transparent 50%, transparent), linear-gradient(118.8deg, #94c11f 50%, #484851 50%, #484851);
    }
    .mini-progress-circle[data-progress="9"]:after {
      background-image: linear-gradient(90deg, #484851 50%, transparent 50%, transparent), linear-gradient(122.4deg, #94c11f 50%, #484851 50%, #484851);
    }
    .mini-progress-circle[data-progress="10"]:after {
      background-image: linear-gradient(90deg, #484851 50%, transparent 50%, transparent), linear-gradient(126deg, #94c11f 50%, #484851 50%, #484851);
    }
    .mini-progress-circle[data-progress="11"]:after {
      background-image: linear-gradient(90deg, #484851 50%, transparent 50%, transparent), linear-gradient(129.6deg, #94c11f 50%, #484851 50%, #484851);
    }
    .mini-progress-circle[data-progress="12"]:after {
      background-image: linear-gradient(90deg, #484851 50%, transparent 50%, transparent), linear-gradient(133.2deg, #94c11f 50%, #484851 50%, #484851);
    }
    .mini-progress-circle[data-progress="13"]:after {
      background-image: linear-gradient(90deg, #484851 50%, transparent 50%, transparent), linear-gradient(136.8deg, #94c11f 50%, #484851 50%, #484851);
    }
    .mini-progress-circle[data-progress="14"]:after {
      background-image: linear-gradient(90deg, #484851 50%, transparent 50%, transparent), linear-gradient(140.4deg, #94c11f 50%, #484851 50%, #484851);
    }
    .mini-progress-circle[data-progress="15"]:after {
      background-image: linear-gradient(90deg, #484851 50%, transparent 50%, transparent), linear-gradient(144deg, #94c11f 50%, #484851 50%, #484851);
    }
    .mini-progress-circle[data-progress="16"]:after {
      background-image: linear-gradient(90deg, #484851 50%, transparent 50%, transparent), linear-gradient(147.6deg, #94c11f 50%, #484851 50%, #484851);
    }
    .mini-progress-circle[data-progress="17"]:after {
      background-image: linear-gradient(90deg, #484851 50%, transparent 50%, transparent), linear-gradient(151.2deg, #94c11f 50%, #484851 50%, #484851);
    }
    .mini-progress-circle[data-progress="18"]:after {
      background-image: linear-gradient(90deg, #484851 50%, transparent 50%, transparent), linear-gradient(154.8deg, #94c11f 50%, #484851 50%, #484851);
    }
    .mini-progress-circle[data-progress="19"]:after {
      background-image: linear-gradient(90deg, #484851 50%, transparent 50%, transparent), linear-gradient(158.4deg, #94c11f 50%, #484851 50%, #484851);
    }
    .mini-progress-circle[data-progress="20"]:after {
      background-image: linear-gradient(90deg, #484851 50%, transparent 50%, transparent), linear-gradient(162deg, #94c11f 50%, #484851 50%, #484851);
    }
    .mini-progress-circle[data-progress="21"]:after {
      background-image: linear-gradient(90deg, #484851 50%, transparent 50%, transparent), linear-gradient(165.60000000000002deg, #94c11f 50%, #484851 50%, #484851);
    }
    .mini-progress-circle[data-progress="22"]:after {
      background-image: linear-gradient(90deg, #484851 50%, transparent 50%, transparent), linear-gradient(169.2deg, #94c11f 50%, #484851 50%, #484851);
    }
    .mini-progress-circle[data-progress="23"]:after {
      background-image: linear-gradient(90deg, #484851 50%, transparent 50%, transparent), linear-gradient(172.8deg, #94c11f 50%, #484851 50%, #484851);
    }
    .mini-progress-circle[data-progress="24"]:after {
      background-image: linear-gradient(90deg, #484851 50%, transparent 50%, transparent), linear-gradient(176.4deg, #94c11f 50%, #484851 50%, #484851);
    }
    .mini-progress-circle[data-progress="25"]:after {
      background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, #484851), color-stop(50%, transparent), to(transparent)), -webkit-gradient(linear, left top, left bottom, color-stop(50%, #94c11f), color-stop(50%, #484851), to(#484851));
      background-image: linear-gradient(90deg, #484851 50%, transparent 50%, transparent), linear-gradient(180deg, #94c11f 50%, #484851 50%, #484851);
    }
    .mini-progress-circle[data-progress="26"]:after {
      background-image: linear-gradient(90deg, #484851 50%, transparent 50%, transparent), linear-gradient(183.60000000000002deg, #94c11f 50%, #484851 50%, #484851);
    }
    .mini-progress-circle[data-progress="27"]:after {
      background-image: linear-gradient(90deg, #484851 50%, transparent 50%, transparent), linear-gradient(187.2deg, #94c11f 50%, #484851 50%, #484851);
    }
    .mini-progress-circle[data-progress="28"]:after {
      background-image: linear-gradient(90deg, #484851 50%, transparent 50%, transparent), linear-gradient(190.8deg, #94c11f 50%, #484851 50%, #484851);
    }
    .mini-progress-circle[data-progress="29"]:after {
      background-image: linear-gradient(90deg, #484851 50%, transparent 50%, transparent), linear-gradient(194.4deg, #94c11f 50%, #484851 50%, #484851);
    }
    .mini-progress-circle[data-progress="30"]:after {
      background-image: linear-gradient(90deg, #484851 50%, transparent 50%, transparent), linear-gradient(198deg, #94c11f 50%, #484851 50%, #484851);
    }
    .mini-progress-circle[data-progress="31"]:after {
      background-image: linear-gradient(90deg, #484851 50%, transparent 50%, transparent), linear-gradient(201.60000000000002deg, #94c11f 50%, #484851 50%, #484851);
    }
    .mini-progress-circle[data-progress="32"]:after {
      background-image: linear-gradient(90deg, #484851 50%, transparent 50%, transparent), linear-gradient(205.2deg, #94c11f 50%, #484851 50%, #484851);
    }
    .mini-progress-circle[data-progress="33"]:after {
      background-image: linear-gradient(90deg, #484851 50%, transparent 50%, transparent), linear-gradient(208.8deg, #94c11f 50%, #484851 50%, #484851);
    }
    .mini-progress-circle[data-progress="34"]:after {
      background-image: linear-gradient(90deg, #484851 50%, transparent 50%, transparent), linear-gradient(212.4deg, #94c11f 50%, #484851 50%, #484851);
    }
    .mini-progress-circle[data-progress="35"]:after {
      background-image: linear-gradient(90deg, #484851 50%, transparent 50%, transparent), linear-gradient(216deg, #94c11f 50%, #484851 50%, #484851);
    }
    .mini-progress-circle[data-progress="36"]:after {
      background-image: linear-gradient(90deg, #484851 50%, transparent 50%, transparent), linear-gradient(219.6deg, #94c11f 50%, #484851 50%, #484851);
    }
    .mini-progress-circle[data-progress="37"]:after {
      background-image: linear-gradient(90deg, #484851 50%, transparent 50%, transparent), linear-gradient(223.20000000000002deg, #94c11f 50%, #484851 50%, #484851);
    }
    .mini-progress-circle[data-progress="38"]:after {
      background-image: linear-gradient(90deg, #484851 50%, transparent 50%, transparent), linear-gradient(226.8deg, #94c11f 50%, #484851 50%, #484851);
    }
    .mini-progress-circle[data-progress="39"]:after {
      background-image: linear-gradient(90deg, #484851 50%, transparent 50%, transparent), linear-gradient(230.4deg, #94c11f 50%, #484851 50%, #484851);
    }
    .mini-progress-circle[data-progress="40"]:after {
      background-image: linear-gradient(90deg, #484851 50%, transparent 50%, transparent), linear-gradient(234deg, #94c11f 50%, #484851 50%, #484851);
    }
    .mini-progress-circle[data-progress="41"]:after {
      background-image: linear-gradient(90deg, #484851 50%, transparent 50%, transparent), linear-gradient(237.6deg, #94c11f 50%, #484851 50%, #484851);
    }
    .mini-progress-circle[data-progress="42"]:after {
      background-image: linear-gradient(90deg, #484851 50%, transparent 50%, transparent), linear-gradient(241.20000000000002deg, #94c11f 50%, #484851 50%, #484851);
    }
    .mini-progress-circle[data-progress="43"]:after {
      background-image: linear-gradient(90deg, #484851 50%, transparent 50%, transparent), linear-gradient(244.8deg, #94c11f 50%, #484851 50%, #484851);
    }
    .mini-progress-circle[data-progress="44"]:after {
      background-image: linear-gradient(90deg, #484851 50%, transparent 50%, transparent), linear-gradient(248.4deg, #94c11f 50%, #484851 50%, #484851);
    }
    .mini-progress-circle[data-progress="45"]:after {
      background-image: linear-gradient(90deg, #484851 50%, transparent 50%, transparent), linear-gradient(252deg, #94c11f 50%, #484851 50%, #484851);
    }
    .mini-progress-circle[data-progress="46"]:after {
      background-image: linear-gradient(90deg, #484851 50%, transparent 50%, transparent), linear-gradient(255.6deg, #94c11f 50%, #484851 50%, #484851);
    }
    .mini-progress-circle[data-progress="47"]:after {
      background-image: linear-gradient(90deg, #484851 50%, transparent 50%, transparent), linear-gradient(259.20000000000005deg, #94c11f 50%, #484851 50%, #484851);
    }
    .mini-progress-circle[data-progress="48"]:after {
      background-image: linear-gradient(90deg, #484851 50%, transparent 50%, transparent), linear-gradient(262.8deg, #94c11f 50%, #484851 50%, #484851);
    }
    .mini-progress-circle[data-progress="49"]:after {
      background-image: linear-gradient(90deg, #484851 50%, transparent 50%, transparent), linear-gradient(266.4deg, #94c11f 50%, #484851 50%, #484851);
    }
    .mini-progress-circle[data-progress="50"]:after {
      background-image: -webkit-gradient(linear, right top, left top, color-stop(50%, #94c11f), color-stop(50%, transparent), to(transparent)), -webkit-gradient(linear, right top, left top, color-stop(50%, #94c11f), color-stop(50%, #484851), to(#484851));
      background-image: linear-gradient(-90deg, #94c11f 50%, transparent 50%, transparent), linear-gradient(270deg, #94c11f 50%, #484851 50%, #484851);
    }
    .mini-progress-circle[data-progress="51"]:after {
      background-image: linear-gradient(-86.4deg, #94c11f 50%, transparent 50%, transparent), linear-gradient(270deg, #94c11f 50%, #484851 50%, #484851);
    }
    .mini-progress-circle[data-progress="52"]:after {
      background-image: linear-gradient(-82.8deg, #94c11f 50%, transparent 50%, transparent), linear-gradient(270deg, #94c11f 50%, #484851 50%, #484851);
    }
    .mini-progress-circle[data-progress="53"]:after {
      background-image: linear-gradient(-79.2deg, #94c11f 50%, transparent 50%, transparent), linear-gradient(270deg, #94c11f 50%, #484851 50%, #484851);
    }
    .mini-progress-circle[data-progress="54"]:after {
      background-image: linear-gradient(-75.6deg, #94c11f 50%, transparent 50%, transparent), linear-gradient(270deg, #94c11f 50%, #484851 50%, #484851);
    }
    .mini-progress-circle[data-progress="55"]:after {
      background-image: linear-gradient(-72deg, #94c11f 50%, transparent 50%, transparent), linear-gradient(270deg, #94c11f 50%, #484851 50%, #484851);
    }
    .mini-progress-circle[data-progress="56"]:after {
      background-image: linear-gradient(-68.4deg, #94c11f 50%, transparent 50%, transparent), linear-gradient(270deg, #94c11f 50%, #484851 50%, #484851);
    }
    .mini-progress-circle[data-progress="57"]:after {
      background-image: linear-gradient(-64.8deg, #94c11f 50%, transparent 50%, transparent), linear-gradient(270deg, #94c11f 50%, #484851 50%, #484851);
    }
    .mini-progress-circle[data-progress="58"]:after {
      background-image: linear-gradient(-61.2deg, #94c11f 50%, transparent 50%, transparent), linear-gradient(270deg, #94c11f 50%, #484851 50%, #484851);
    }
    .mini-progress-circle[data-progress="59"]:after {
      background-image: linear-gradient(-57.6deg, #94c11f 50%, transparent 50%, transparent), linear-gradient(270deg, #94c11f 50%, #484851 50%, #484851);
    }
    .mini-progress-circle[data-progress="60"]:after {
      background-image: linear-gradient(-54deg, #94c11f 50%, transparent 50%, transparent), linear-gradient(270deg, #94c11f 50%, #484851 50%, #484851);
    }
    .mini-progress-circle[data-progress="61"]:after {
      background-image: linear-gradient(-50.4deg, #94c11f 50%, transparent 50%, transparent), linear-gradient(270deg, #94c11f 50%, #484851 50%, #484851);
    }
    .mini-progress-circle[data-progress="62"]:after {
      background-image: linear-gradient(-46.8deg, #94c11f 50%, transparent 50%, transparent), linear-gradient(270deg, #94c11f 50%, #484851 50%, #484851);
    }
    .mini-progress-circle[data-progress="63"]:after {
      background-image: linear-gradient(-43.199999999999996deg, #94c11f 50%, transparent 50%, transparent), linear-gradient(270deg, #94c11f 50%, #484851 50%, #484851);
    }
    .mini-progress-circle[data-progress="64"]:after {
      background-image: linear-gradient(-39.6deg, #94c11f 50%, transparent 50%, transparent), linear-gradient(270deg, #94c11f 50%, #484851 50%, #484851);
    }
    .mini-progress-circle[data-progress="65"]:after {
      background-image: linear-gradient(-36deg, #94c11f 50%, transparent 50%, transparent), linear-gradient(270deg, #94c11f 50%, #484851 50%, #484851);
    }
    .mini-progress-circle[data-progress="66"]:after {
      background-image: linear-gradient(-32.4deg, #94c11f 50%, transparent 50%, transparent), linear-gradient(270deg, #94c11f 50%, #484851 50%, #484851);
    }
    .mini-progress-circle[data-progress="67"]:after {
      background-image: linear-gradient(-28.799999999999997deg, #94c11f 50%, transparent 50%, transparent), linear-gradient(270deg, #94c11f 50%, #484851 50%, #484851);
    }
    .mini-progress-circle[data-progress="68"]:after {
      background-image: linear-gradient(-25.200000000000003deg, #94c11f 50%, transparent 50%, transparent), linear-gradient(270deg, #94c11f 50%, #484851 50%, #484851);
    }
    .mini-progress-circle[data-progress="69"]:after {
      background-image: linear-gradient(-21.599999999999994deg, #94c11f 50%, transparent 50%, transparent), linear-gradient(270deg, #94c11f 50%, #484851 50%, #484851);
    }
    .mini-progress-circle[data-progress="70"]:after {
      background-image: linear-gradient(-18deg, #94c11f 50%, transparent 50%, transparent), linear-gradient(270deg, #94c11f 50%, #484851 50%, #484851);
    }
    .mini-progress-circle[data-progress="71"]:after {
      background-image: linear-gradient(-14.399999999999991deg, #94c11f 50%, transparent 50%, transparent), linear-gradient(270deg, #94c11f 50%, #484851 50%, #484851);
    }
    .mini-progress-circle[data-progress="72"]:after {
      background-image: linear-gradient(-10.799999999999997deg, #94c11f 50%, transparent 50%, transparent), linear-gradient(270deg, #94c11f 50%, #484851 50%, #484851);
    }
    .mini-progress-circle[data-progress="73"]:after {
      background-image: linear-gradient(-7.200000000000003deg, #94c11f 50%, transparent 50%, transparent), linear-gradient(270deg, #94c11f 50%, #484851 50%, #484851);
    }
    .mini-progress-circle[data-progress="74"]:after {
      background-image: linear-gradient(-3.599999999999994deg, #94c11f 50%, transparent 50%, transparent), linear-gradient(270deg, #94c11f 50%, #484851 50%, #484851);
    }
    .mini-progress-circle[data-progress="75"]:after {
      background-image: -webkit-gradient(linear, left bottom, left top, color-stop(50%, #94c11f), color-stop(50%, transparent), to(transparent)), -webkit-gradient(linear, right top, left top, color-stop(50%, #94c11f), color-stop(50%, #484851), to(#484851));
      background-image: linear-gradient(0deg, #94c11f 50%, transparent 50%, transparent), linear-gradient(270deg, #94c11f 50%, #484851 50%, #484851);
    }
    .mini-progress-circle[data-progress="76"]:after {
      background-image: linear-gradient(3.600000000000009deg, #94c11f 50%, transparent 50%, transparent), linear-gradient(270deg, #94c11f 50%, #484851 50%, #484851);
    }
    .mini-progress-circle[data-progress="77"]:after {
      background-image: linear-gradient(7.200000000000003deg, #94c11f 50%, transparent 50%, transparent), linear-gradient(270deg, #94c11f 50%, #484851 50%, #484851);
    }
    .mini-progress-circle[data-progress="78"]:after {
      background-image: linear-gradient(10.799999999999997deg, #94c11f 50%, transparent 50%, transparent), linear-gradient(270deg, #94c11f 50%, #484851 50%, #484851);
    }
    .mini-progress-circle[data-progress="79"]:after {
      background-image: linear-gradient(14.400000000000006deg, #94c11f 50%, transparent 50%, transparent), linear-gradient(270deg, #94c11f 50%, #484851 50%, #484851);
    }
    .mini-progress-circle[data-progress="80"]:after {
      background-image: linear-gradient(18deg, #94c11f 50%, transparent 50%, transparent), linear-gradient(270deg, #94c11f 50%, #484851 50%, #484851);
    }
    .mini-progress-circle[data-progress="81"]:after {
      background-image: linear-gradient(21.60000000000001deg, #94c11f 50%, transparent 50%, transparent), linear-gradient(270deg, #94c11f 50%, #484851 50%, #484851);
    }
    .mini-progress-circle[data-progress="82"]:after {
      background-image: linear-gradient(25.200000000000003deg, #94c11f 50%, transparent 50%, transparent), linear-gradient(270deg, #94c11f 50%, #484851 50%, #484851);
    }
    .mini-progress-circle[data-progress="83"]:after {
      background-image: linear-gradient(28.799999999999997deg, #94c11f 50%, transparent 50%, transparent), linear-gradient(270deg, #94c11f 50%, #484851 50%, #484851);
    }
    .mini-progress-circle[data-progress="84"]:after {
      background-image: linear-gradient(32.400000000000006deg, #94c11f 50%, transparent 50%, transparent), linear-gradient(270deg, #94c11f 50%, #484851 50%, #484851);
    }
    .mini-progress-circle[data-progress="85"]:after {
      background-image: linear-gradient(36deg, #94c11f 50%, transparent 50%, transparent), linear-gradient(270deg, #94c11f 50%, #484851 50%, #484851);
    }
    .mini-progress-circle[data-progress="86"]:after {
      background-image: linear-gradient(39.599999999999994deg, #94c11f 50%, transparent 50%, transparent), linear-gradient(270deg, #94c11f 50%, #484851 50%, #484851);
    }
    .mini-progress-circle[data-progress="87"]:after {
      background-image: linear-gradient(43.20000000000002deg, #94c11f 50%, transparent 50%, transparent), linear-gradient(270deg, #94c11f 50%, #484851 50%, #484851);
    }
    .mini-progress-circle[data-progress="88"]:after {
      background-image: linear-gradient(46.80000000000001deg, #94c11f 50%, transparent 50%, transparent), linear-gradient(270deg, #94c11f 50%, #484851 50%, #484851);
    }
    .mini-progress-circle[data-progress="89"]:after {
      background-image: linear-gradient(50.400000000000006deg, #94c11f 50%, transparent 50%, transparent), linear-gradient(270deg, #94c11f 50%, #484851 50%, #484851);
    }
    .mini-progress-circle[data-progress="90"]:after {
      background-image: linear-gradient(54deg, #94c11f 50%, transparent 50%, transparent), linear-gradient(270deg, #94c11f 50%, #484851 50%, #484851);
    }
    .mini-progress-circle[data-progress="91"]:after {
      background-image: linear-gradient(57.599999999999994deg, #94c11f 50%, transparent 50%, transparent), linear-gradient(270deg, #94c11f 50%, #484851 50%, #484851);
    }
    .mini-progress-circle[data-progress="92"]:after {
      background-image: linear-gradient(61.20000000000002deg, #94c11f 50%, transparent 50%, transparent), linear-gradient(270deg, #94c11f 50%, #484851 50%, #484851);
    }
    .mini-progress-circle[data-progress="93"]:after {
      background-image: linear-gradient(64.80000000000001deg, #94c11f 50%, transparent 50%, transparent), linear-gradient(270deg, #94c11f 50%, #484851 50%, #484851);
    }
    .mini-progress-circle[data-progress="94"]:after {
      background-image: linear-gradient(68.4deg, #94c11f 50%, transparent 50%, transparent), linear-gradient(270deg, #94c11f 50%, #484851 50%, #484851);
    }
    .mini-progress-circle[data-progress="95"]:after {
      background-image: linear-gradient(72deg, #94c11f 50%, transparent 50%, transparent), linear-gradient(270deg, #94c11f 50%, #484851 50%, #484851);
    }
    .mini-progress-circle[data-progress="96"]:after {
      background-image: linear-gradient(75.6deg, #94c11f 50%, transparent 50%, transparent), linear-gradient(270deg, #94c11f 50%, #484851 50%, #484851);
    }
    .mini-progress-circle[data-progress="97"]:after {
      background-image: linear-gradient(79.20000000000002deg, #94c11f 50%, transparent 50%, transparent), linear-gradient(270deg, #94c11f 50%, #484851 50%, #484851);
    }
    .mini-progress-circle[data-progress="98"]:after {
      background-image: linear-gradient(82.80000000000001deg, #94c11f 50%, transparent 50%, transparent), linear-gradient(270deg, #94c11f 50%, #484851 50%, #484851);
    }
    .mini-progress-circle[data-progress="99"]:after {
      background-image: linear-gradient(86.4deg, #94c11f 50%, transparent 50%, transparent), linear-gradient(270deg, #94c11f 50%, #484851 50%, #484851);
    }
    .mini-progress-circle[data-progress="100"]:after {
      background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, #94c11f), color-stop(50%, transparent), to(transparent)), -webkit-gradient(linear, right top, left top, color-stop(50%, #94c11f), color-stop(50%, #484851), to(#484851));
      background-image: linear-gradient(90deg, #94c11f 50%, transparent 50%, transparent), linear-gradient(270deg, #94c11f 50%, #484851 50%, #484851);
    }
  }
}
