<ion-row #invisibleRow class="invisible-row-outer">
  <ion-col size="12" class="invisible-row-inner">
    <ion-row class="invisible-header">
      <ion-col size="4" class="menu-button-outer">
        <button ion-button menuToggle class="shadow">
          <img class="menu-button-image" src="./assets/img/general/menu_icon.svg">
        </button>
      </ion-col>
      <ion-col size="4" class="eloaded-header-logo-outer">
      </ion-col>
      <ion-col size="4" class="eloaded-header-avatar-container-outer">
        <div class="eloaded-header-avatar-container-inner shadow" (click)="openUserInfowindow()">
          <span class="eloaded-header-avatar-name" *ngIf="user.logged()">{{ user.firstname.split(' ')[0] }}</span>
          <span class="eloaded-header-avatar-name" *ngIf="!user.logged()">{{ 'REGISTER_OR_LOGIN' | translate }}</span>
          <div class="eloaded-header-avatar" [style.backgroundImage]="'url(' + (user.scrAvatar || defaultAvatar) + ')'"></div>
        </div>
      </ion-col>
    </ion-row>
    
    <searchbar
      [(favouriteLocations)]="user.favouriteLocations"
      [(favouriteStations)]="user.favouriteStations"
      [showFavouritesLabels]="true"
      (favouriteCallback)="setFavouriteIntoInfowindow($event)"
      (favouriteStationCallback)="stationMarkerClick(undefined, $event)"
      (locationCallback)="setLocationIntoInfowindow($event)">
    </searchbar>

    <filters-on-map
      [(filters)]="filters"
      [userHasPlugs]="user && user.defaultCar && user.defaultCar.plugs && user.defaultCar.plugs.length"
      [userHasFast]="user && user.defaultCar && user.defaultCar.plugs && user.defaultCar.plugs.length && user.defaultCar.fast"
      (filtersUpdate)="filtersUpdate($event)">
    </filters-on-map>
  </ion-col>
</ion-row>
<ion-row class="homepagemap-outer">
  <div #homepagemap id="homepagemap" class="map"></div>
</ion-row>
<div #topCornerElem></div>
<div space class="invisible" [(style.marginTop.px)]="pageHeight - infowindowHeight.min"></div>
<div #infowindow class="infowindow">
  <div class="my-position-button-outer shadow" (click)="setCenterOnMyPosition()">
    <div class="my-position-button-inner"></div>
  </div>
  <div class="charge-button-outer shadow" [ngClass]="!activeCharge ? 'charge' : 'charging'" (click)="openChargeInfowindow()" *ngIf="infowindowComponent && infowindowComponent.type !== 'charge'">
    <ng-container *ngIf="!activeCharge">
      <div class="charge-button-inner"></div>
        {{ 'CHARGE' | translate }}
      </ng-container>
      <ng-container *ngIf="activeCharge">
        <div class="mini-progress-circle-container-inner">
          <div id="mini-progress-circle" class="mini-progress-circle" data-progress="0"></div>
        </div>
        {{ 'CHARGING' | translate }}
      </ng-container>
  </div>
  <!-- <infowindow
    [(user)]="user"

    [(stateOfCharge)]="filters.charge"
    [(systemCars)]="systemCars"
    [(systemPlugs)]="systemPlugs"

    [(activeTransaction)]="user.activeTransaction"
    [(orders)]="user.orders"

    (close)="closeInfowindow()"
    (collapse)="collapseInfowindow()"
    (toggleKeyboard)="toggleKeyboard()"

    (removeCar)="removeCar($event)"
    (saveCar)="saveCar($event)"
    (setDefaultCar)="setDefaultCar($event)"

    (changePassword)="changePassword($event)"
    (confirmProfile)="confirmProfile($event)"
    (logout)="logout()"
    (newConfirmationCode)="newConfirmationCode()"
    (updateUser)="updateUser($event)"

    (removeFavouriteLocation)="removeFavouriteLocation($event)"
    (saveFavouriteLocation)="saveFavouriteLocation($event)"

    (removeFavouriteStation)="removeFavouriteStation($event)"
    (saveFavouriteStation)="saveFavouriteStation($event)"
    (getStationGuns)="getStationGuns($event)"

    (getChargeDetail)="getChargeDetail($event)"
    (requestEchargeOrder)="requestEchargeOrderPreviews($event)"
    (payOrder)="payOrder($event)"
    (payOrderWithTerminal)="payOrderWithTerminal($event)"
    (requestStopCharge)="requestStopCharge($event)"
    (payOrderWebDropIn)="payOrderWebDropIn($event)"
    >
  </infowindow> -->
</div>
<!-- <keypad [(value)]="filters.charge" min="0" max="100" (confirm)="filtersUpdate({ charge: $event })" *ngIf="views.keyboard"></keypad> -->
