<ion-row class="infowindow-buttons-outer" *ngIf="shown">
  <ion-col col-12 class="infowindow-buttons-inner">
    <ng-container *ngFor="let tab of tabList; let i = index">
      <div class="infowindow-tab-button-outer shadow {{ prefix }}-{{ tab.name }}" [ngClass]="tabList[current].name === tab.name ? 'active' : ''" (click)="jumpTo.emit(i)" *ngIf="tab.condition()">
        <div class="infowindow-tab-button-icon {{ tab.name }}"></div>
        <div class="infowindow-tab-button-text">{{ 'INFOWINDOW.TAB.' + prefix.toUpperCase() + '.' + tab.name.toUpperCase() | translate }}</div>
      </div>
    </ng-container>
    <div class="infowindow-tab-button-outer shadow close" (click)="close.emit()">
      <div class="infowindow-tab-button-icon close"></div>
    </div>
  </ion-col>
</ion-row>
